<%= form_for(@fd_produto) do |f| %>
  <% if @fd_produto.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  
  <% if @fd_produto.errors.any? %>
  
    <% @fd_produto.errors.full_messages.each do |msg| %>
        <%= msg %></br>
      <% end %>
     <% end %>
    </div>
  <% end %>  


<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active" >
      <a href="#tab1" data-toggle="tab">Produto</a>
    </li>

<% if not @fd_produto.id %>
      <li class="disabled">
        <a href="#tab2" data-toggle="tab disabled">Variações</a>
      </li>
      <li class="disabled">
        <a href="#tab3" data-toggle="tab disabled">Itens</a>
      </li>
<%else%>
     <li>
        <a href="#tab2" data-toggle="tab">Variações</a>
     </li>
   <%if @fd_produto.fd_categoriaproduto_id != 2%>
        <li>
            <a href="#tab3" data-toggle="tab">Itens</a>
        </li>
    <%else%>
         <li>
            <a href="#tab4" data-toggle="tab">Itens Combo</a>
         </li>
         <li>
            <a href="#tab5" data-toggle="tab">Itens Troca</a>
         </li>
    <%end%>    
<%end%>


  </ul>            
  <div class="tab-content">
   <div class="tab-pane active" id="tab1"> 
      <br/>
      <div class="row mar-bot40">
          <div class="col-lg-6">
            <%= f.label :Categoria_produto %><br>
            <%= f.select :fd_categoriaproduto_id, options_from_collection_for_select(FdCategoriaproduto.all, 'id', 'desc_categoria',@fd_produto.fd_categoriaproduto_id), {:include_blank => true}, {:onchange => 'changeState(this)', :class => 'form-control' }%>
          </div>  
          <div class="col-lg-6">
            <%= f.label :Nome_Produto %><br>
            <%= f.text_field :nome_produto, :class => 'form-control' %>
          </div>
      </div>
  <br>
  <div class="row mar-bot40">   
       <div class="col-lg-6">
         <%= f.label :Descrição %><br>
         <%= f.text_area :desc_produto, :class => 'form-control' %>
       </div>
  
        <!--Capturando usuario logado-->
        <%=f.hidden_field :fd_empresa_id, :value => user.fd_empresa_id%> 
 </div>
  <br>

</div>

<div class="tab-pane" id="tab2">
  <br/>
  <div class="row mar-bot40">
    <br/>
    <div class="col-lg-2">  
      <div class="checkbox">
        <label><input type="checkbox" id ="check" onclick ="marcacheck()" value="">Tamanho Único ?</label>
      </div>
    </div>
    <div class="col-lg-4"> 
      <b>Variação</b>      
      <%= select_tag "variacao_id", options_from_collection_for_select(FdVariacao.all, 'id', 'desc_variacao'), include_blank: true, :class => 'form-control'%>
    </div>
    <div class="col-lg-2">
      <b>Valor Produto</b> 
      <input id="valor_produto" name="valor_produto" value="<%=%>" onkeypress="" type="text" class="form-control">
    </div>
    <div class="row" style="margin-top:18px; margin-left:30px;">
      <button id="bntSalvar" type="button" class="btn btn-success" onclick="salva_variacao();">Incluir</button>
    </div>
</div>

<br/>

<div class="row mar-bot40">
  <div class="col-lg-12">  
    <div class="panel panel-default" >
      <div class="panel-heading"><strong>Variações</strong></div>
        <table class="table table-hover"  id="tlbvariacao">
          <thead>
            <tr>
              <th>Variação:</th>
              <th>Preço</th>
              <th></th>     
            </tr>
          </thead>
          <tbody id="tlbvariacaolis">
            <%@variacao_produto.each do |variacao| %>
              <tr>
                <td><%= variacao.fd_variacao.desc_variacao%></td>
                <td><%= variacao.valr_produto %></td>
                <td align='right'>
                  <button type="button" onclick="excluiIVariacaoProduto('<%=variacao.id%>')"class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                </td> 
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="tab-pane" id="tab3">
     <br/><br/> 
    <div class="row mar-bot40">
     <div class="col-lg-1">
     </div> 

       <div class="col-lg-4"> 
           <select multiple="multiple" id="itemlist1"  class="form-control">

           </select>
        </div>
      
       <div class="col-lg-1" style="width:40px">
          <a class="btn btn-default btn-sm" title=""  onclick="inclui_item_produto();" style="margin-left:-16px;margin-top:110px; color:green" rel="tooltip" data-original-title="Incluir">
               <span class="glyphicon glyphicon-forward" rel="tooltip"></span>
          </a> 
          <a class="btn btn-default btn-sm" title="" onclick="exclui_item_produto();" style="margin-left:-16px;color:red" rel="tooltip" data-original-title="Excluir">
               <span class="glyphicon glyphicon-backward white" rel="tooltip"></span>
          </a> 
       </div>
        <div class="col-lg-4">
            <select multiple="multiple" id="itemlist2"  class="form-control">
         
           </select>
        </div>
     </div>
  </div>

 <div class="tab-pane" id="tab4">
    <br/>
    <div class="row mar-bot40">
      <div class="col-lg-1">
      </div> 
      <div class="col-lg-8" style="width:810px"> 
           <b>Categoria Produto</b>      
            <%= select_tag "categoria_produto", options_from_collection_for_select(FdCategoriaproduto.all, 'id', 'desc_categoria'), include_blank: true, :onchange => 'busca_produto()', :class => 'form-control'%>
      </div>
    </div>
    <br>

      <div class="row mar-bot40">
       <div class="col-lg-1">
       </div> 

         <div class="col-lg-4"> 
             <select multiple="multiple" id="produtolist1" class="form-control" >

             </select>
          </div>
        
         <div class="col-lg-1" style="width:40px">
            <a class="btn btn-default btn-sm" title=""  onclick="inclui_produto_combo();" style="margin-left:-16px;margin-top:110px; color:green" rel="tooltip" data-original-title="Incluir">
                 <span class="glyphicon glyphicon-forward" rel="tooltip"></span>
            </a> 
            <a class="btn btn-default btn-sm" title="" onclick="exclui_produto_combo();" style="margin-left:-16px;color:red" rel="tooltip" data-original-title="Excluir">
                 <span class="glyphicon glyphicon-backward white" rel="tooltip"></span>
            </a> 
         </div>
          <div class="col-lg-4">
              <select multiple="multiple" id="produtolist2" class="form-control">
           
             </select>
          </div>
       </div>
    </div>
  
  <div class="tab-pane" id="tab5">
    aqui é o 5
  </div>
  <hr/>

</div>
</div>
</div>
</div>

<hr/>

<div class="btn-group" role="group" aria-label="...">
  <button type="submit" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
  </button>  

 <%end%>

<script>


function marcacheck(){
    
   if($("#check").is(":checked")){ 
       $("#variacao_id").attr('selected','selected');
        $('#variacao_id').val("");
       $("#variacao_id").attr('disabled', 'disabled');
     }else{
      $("#variacao_id").removeAttr('disabled'); 
    }  
}

function salva_variacao(){
    var variacao 

    if($("#check").is(":checked")){ 
       variacao = 1
     }else{
       variacao = $("#variacao_id").val() 
    } 

    $.ajax({
        url: '<%= insere_variacao_produto_path %>',
        data :
        {
           valr_produto : $('#valor_produto').val()
          ,fd_variaco_id : variacao
          ,fd_produto_id: $('#fd_produto_id').val()

    },

    success: function(data){
         $("#tlbvariacaolis").empty();
         var options = "";
         for (var i in data){
          var item = data[i];

          $('#tlbvariacao').append('<tr><td>'+item.desc_variacao+'</td><td>'+item.valr_produto+'</td><td align="right"><button type="button" onclick="excluiIVariacaoProduto('+item.id+');" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td></tr>')

           };

         } 
       })      
    
  }
 
  function excluiIVariacaoProduto(id){ 
    $.ajax({
        url: '<%= exclui_variacao_produto_path %>',
        data :
      {

          fd_variacoproduto_id : id
          ,fd_produto_id: $('#fd_produto_id').val()
      },

    success: function(data){
         $("#tlbvariacaolis").empty();
         var options = "";
         for (var i in data){
          var item = data[i];

             $('#tlbvariacao').append('<tr><td>'+item.desc_variacao+'</td><td>'+item.valr_produto+'</td><td align="right"><button type="button" onclick="excluiIVariacaoProduto('+item.id+');" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td></tr>')
           };

         } 
       }) 

  }

  function busca_item(){
    $.ajax({
        url: '<%= busca_items_path %>',
        data :
        {},

    success: function(data){
         $("#itemlist1").empty();
         var options = "";
         for (var i in data){
          var item = data[i];

          $('#itemlist1').append("<option value='"+item.id+"'>"+item.desc_item+"</option")

           };

         } 
       })      
    
  }
   
  function busca_itemproduto(){
    $.ajax({
        url: '<%= busca_itemsproduto_path %>',
        data :
        {
          fd_produto_id: $('#fd_produto_id').val()
        },

    success: function(data){
         $("#itemlist2").empty();
         var options = "";
         for (var i in data){
          var item = data[i];

          $('#itemlist2').append("<option value='"+item.id+"'>"+item.desc_item+"</option")

           };

         } 
       })      
    
  }

function inclui_item_produto(){
    
    var itemsele = $('#itemlist1 option:selected').val()
       
    $.ajax({
        url: '<%= salva_item_produto_path %>',
        data :
        {
          fd_produto_id: $('#fd_produto_id').val()
          ,fd_item_id: itemsele
        },

    success: function(data){
         $("#itemlist2").empty();
         var options = "";
         for (var i in data){
          var item = data[i];

            $('#itemlist2').append("<option value='"+item.id+"'>"+item.desc_item+"</option")

           };

         } 
       })      
}


function exclui_item_produto(){

    var itemsele = $('#itemlist2 option:selected').val()
       
    $.ajax({
        url: '<%= exclui_item_produto_path %>',
        data :
        {
          fd_produto_id: $('#fd_produto_id').val()
          ,fd_itemproduto_id: itemsele
        },

    success: function(data){
         $("#itemlist2").empty();
         var options = "";
         for (var i in data){
          var item = data[i];

            $('#itemlist2').append("<option value='"+item.id+"'>"+item.desc_item+"</option")

           };

         } 
       })

 }

 function busca_produto(){
    $.ajax({
        url: '<%= busca_produto_path %>',
        data :
        {
          categoria_produto: $('#categoria_produto').val()
        },

    success: function(data){
         $("#produtolist1").empty();
         var options = "";
         for (var i in data){
          var item = data[i];

          $('#produtolist1').append("<option value='"+item.id+"'>"+item.nome_produto+"</option")

           };

         } 
       })         
  }

 
 function busca_produto_combo(){
    $.ajax({
        url: '<%= busca_produto_combo_path %>',
        data :
        {
           fd_produto_id: $('#fd_produto_id').val()
        },

    success: function(data){
         $("#produtolist2").empty();
         var options = "";
         for (var i in data){
          var item = data[i];

          $('#produtolist2').append("<option value='"+item.id+"'>"+item.nome_produto+"</option")

           };2
         } 
       })         
  }

function inclui_produto_combo(){

  var itemsele = $('#produtolist1 option:selected').val()
       
    $.ajax({
        url: '<%= inclui_produto_combo_path %>',
        data :
        {
          fd_produto_id: $('#fd_produto_id').val()
          ,fd_produto_combo: itemsele
        },

    success: function(data){
         $("#produtolist2").empty();
         var options = "";
         for (var i in data){
          var item = data[i];

            $('#produtolist2').append("<option value='"+item.id+"'>"+item.nome_produto+"</option")

           };

         } 
       })      
}



function exclui_produto_combo(){

  var itemsele = $('#produtolist2 option:selected').val()
       
    $.ajax({
        url: '<%= exclui_produto_combo_path %>',
        data :
        {
          fd_produto_id: $('#fd_produto_id').val()
          ,fd_produtocombo_id: itemsele
        },

    success: function(data){
         $("#produtolist2").empty();
         var options = "";
         for (var i in data){
          var item = data[i];

            $('#produtolist2').append("<option value='"+item.id+"'>"+item.nome_produto+"</option")

           };

         } 
       })      
}


busca_item();
busca_itemproduto();
busca_produto_combo();
//busca_produto();

 // $(function() {
 //    $("#valor_produto").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
 // })

</script>






