<%= form_for(@fd_produto) do |f| %>
  <% if @fd_produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fd_produto.errors.count, "error") %> prohibited this fd_produto from being saved:</h2>

      <ul>
      <% @fd_produto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row mar-bot40">
  <div class="col-lg-6">

    <%= f.label :Categoria_produto %><br>
        <%= f.select :fd_categoriaproduto_id, options_from_collection_for_select(FdCategoriaproduto.all, 'id', 'desc_categoria',@fd_produto.fd_categoriaproduto_id), {:include_blank => true}, {:onchange => 'changeState(this)', :class => 'form-control' }%>
  </div>
  
  <div class="col-lg-6">
    <%= f.label :Nome_Produto %><br>
    <%= f.text_field :nome_produto, :class => 'form-control' %>
  </div>
</div>
<br>
<div class="row mar-bot40">   
  <div class="col-lg-6">
    <%= f.label :Descrição %><br>
    <%= f.text_area :desc_produto, :class => 'form-control' %>
  </div>
  
  
  <!--Capturando usuario logado-->
  <%=f.hidden_field :fd_empresa_id, :value => user.fd_empresa_id%> 

</div> 


<hr/>

<div class="btn-group" role="group" aria-label="...">
  <button type="submit" class="btn btn-primary btn">
    </span> Salvar
  </button>  

<% end %>
