<%= form_for(@fd_produto) do |f| %>
  <% if @fd_produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fd_produto.errors.count, "error") %> prohibited this fd_produto from being saved:</h2>

      <ul>
      <% @fd_produto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#tab1" data-toggle="tab">Produto</a>
    </li>
    <li >
      <a href="#tab2" data-toggle="tab">Variações</a>
    </li>
    <li>
      <a href="#tab3" data-toggle="tab">Itens</a>
    </li>
  </ul>            
<div class="tab-content">
    <div class="tab-pane active" id="tab1"> 
      <br/>
      <div class="row mar-bot40">
          <div class="col-lg-6">
            <%= f.label :Categoria_produto %><br>
            <%= f.select :fd_categoriaproduto_id, options_from_collection_for_select(FdCategoriaproduto.all, 'id', 'desc_categoria',@fd_produto.fd_categoriaproduto_id), {:include_blank => true}, {:onchange => 'changeState(this)', :class => 'form-control' }%>
          </div>  
          <div class="col-lg-6">
            <%= f.label :Nome_Produto %><br>
            <%= f.text_field :nome_produto, :class => 'form-control' %>
          </div>
      </div>
  <br>
  <div class="row mar-bot40">   
       <div class="col-lg-6">
         <%= f.label :Descrição %><br>
         <%= f.text_area :desc_produto, :class => 'form-control' %>
       </div>
  
        <!--Capturando usuario logado-->
        <%=f.hidden_field :fd_empresa_id, :value => user.fd_empresa_id%> 

      </div> 
    </div>

     <div class="tab-pane" id="tab2">
       <br/>
      <div class="row mar-bot40">
        <div class="col-lg-4">  
          <div class="checkbox">
            <label><input type="checkbox" id ="check" onclick ="teste()"value="">Produto Único</label>
          </div>
        </div>
      </div>
       <br/>

      <div class="row mar-bot40">
          <div class="col-lg-4"> 
           <b>Variação</b>      
            <%= select_tag("variacao_id", options_from_collection_for_select(FdVariacao.all, 'id', 'desc_variacao'),{:onchange => 'changeState(this)', :class => 'form-control' }) %>
          </div>
        <div class="col-lg-2">
         <b>Valor Produto</b> 
          <input id="nome_lider" name="nome_lider" value="<%=%>" onkeypress="" type="text" class="form-control">
        </div>
      <div class="row" style="margin-top:20px; margin-left:30px;">
          <button id="bntSalvar" type="button" class="btn btn-success" onclick="setaPeriodo('custom');">Incluir</button>
      </div>
     </div>
     </div>
      <div class="tab-pane" id="tab3">
       3    
     </div>
  </div>

<hr/>

<div class="btn-group" role="group" aria-label="...">
  <button type="submit" class="btn btn-primary btn">
    </span> Salvar
  </button>  

<% end %>


<script>

$('.checkbox').checkbox();


function teste(){
  alert("fdsd");
}

</script>