<div class="page-header">
  <h1>Listar Produtos</h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Fd categoriaprodutos</th>
      <th>Nome produto</th>
      <th>Desc produto</th>
      <th>Valr produto</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fd_produtos.each do |fd_produto| %>
      <tr>
        <td><%= fd_produto.fd_categoriaproduto.desc_categoria %></td>
        <td><%= fd_produto.nome_produto %></td>
        <td><%= fd_produto.desc_produto %></td>
        <td><%= fd_produto.valr_produto %></td>
        <td><%= link_to 'Show', fd_produto %></td>
        <td><%= link_to 'Edit', edit_fd_produto_path(fd_produto) %></td>
        <td><%= link_to 'Destroy', fd_produto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_fd_produto_path, :class => "btn btn-default" do %>
   Novo
<% end %>  
