<div class="page-header">
  <h2>Produtos</h2>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome produto</th>
      <th>Categoria</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fd_produtos.each do |fd_produto| %>
      <tr>
        <td><%= fd_produto.nome_produto %></td>
        <td><%= fd_produto.fd_categoriaproduto %></td>
        <td><%= link_to 'Exibir', fd_produto %></td>
        <td><%= link_to 'Editar', edit_fd_produto_path(fd_produto) %></td>
        <td><%= link_to 'Deletar', fd_produto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_fd_produto_path, :class => "btn btn-default" do %>
     Novo
<% end %>  
