<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Configurações</h3>
  </div>
  <div class="panel-footer" style="background-color:white;">
    <div class="row mar-bot40">
      <div class="col-lg-2" >
        <%= link_to fd_clientes_path, :class => "btn btn-default btn-lg", :rel=>"tooltip", :title=>"Exibir" do %>
          <span class="glyphicon glyphicon-piggy-bank"></span> Clientes
        <% end %>
      </div>
      <div class="col-lg-2" >
        <%= link_to fd_empresas_path, :class => "btn btn-default btn-lg", :rel=>"tooltip", :title=>"Exibir" do %>
          <span class="glyphicon glyphicon-briefcase"></span> Empresas
        <% end %>
      </div>
      <div class="col-lg-2" >
        <%= link_to fd_usuarios_path, :class => "btn btn-default btn-lg", :rel=>"tooltip", :title=>"Exibir" do %>
          <span class="glyphicon glyphicon-user"></span> Usuários
        <% end %>         
      </div>
      <div class="col-lg-2" >
        <%= link_to fd_mesas_path, :class => "btn btn-default btn-lg", :rel=>"tooltip", :title=>"Exibir" do %>
          <span class="glyphicon glyphicon-cutlery"></span> Mesas
        <% end %>         
      </div>
      <div class="col-lg-3" >
        <%= link_to fd_categoriaprodutos_path, :class => "btn btn-default btn-lg", :rel=>"tooltip", :title=>"Exibir" do %>
          <span class="glyphicon glyphicon-th-list"></span> Categorias Produtos
        <% end %>         
      </div> 
    </div> 
    <br/>
    <div class="row mar-bot40">
      <div class="col-lg-2" >
        <%= link_to fd_produtos_path, :class => "btn btn-default btn-lg", :rel=>"tooltip", :title=>"Exibir" do %>
          <span class="glyphicon glyphicon-shopping-cart"></span> Produtos
        <% end %>         
      </div>
      <div class="col-lg-2" >
        <%= link_to index_service_path, :class => "btn btn-default btn-lg", :rel=>"tooltip", :title=>"Exibir" do %>
          <span class="glyphicon glyphicon-cog"></span> Serviços
        <% end %>         
      </div>
      <div class="col-lg-2" >
        <%= link_to fd_items_path, :class => "btn btn-default btn-lg", :rel=>"tooltip", :title=>"Exibir" do %>
          <span class="glyphicon glyphicon-tag"></span> Itens
        <% end %>         
      </div>
      <div class="col-lg-2" >
        <%= link_to fd_itensadicionals_path, :class => "btn btn-default btn-lg", :rel=>"tooltip", :title=>"Exibir" do %>
          <span class="glyphicon glyphicon-plus"></span> Adicionais
        <% end %>         
      </div>      
      <div class="col-lg-2" >
        <%= link_to report_path, :class => "btn btn-default btn-lg", :rel=>"tooltip", :title=>"Exibir" do %>
          <span class="glyphicon glyphicon-list-alt"></span> Relatórios
        <% end %>         
      </div>           
    </br>
    </br>
  </div>
</div>