<%= form_for(@fd_produtocombo) do |f| %>
  <% if @fd_produtocombo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fd_produtocombo.errors.count, "error") %> prohibited this fd_produtocombo from being saved:</h2>

      <ul>
      <% @fd_produtocombo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fd_produtos_id %><br>
    <%= f.text_field :fd_produtos_id %>
  </div>
  <div class="field">
    <%= f.label :fd_produto_combo %><br>
    <%= f.number_field :fd_produto_combo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
