<p id="notice"><%= notice %></p>

<p>
  <strong>Fd produtos:</strong>
  <%= @fd_produtocombo.fd_produtos %>
</p>

<p>
  <strong>Fd produto combo:</strong>
  <%= @fd_produtocombo.fd_produto_combo %>
</p>

<%= link_to 'Edit', edit_fd_produtocombo_path(@fd_produtocombo) %> |
<%= link_to 'Back', fd_produtocombos_path %>
