<p id="notice"><%= notice %></p>

<p>
  <strong>Fd itempedidos:</strong>
  <%= @fd_pedidocombo.fd_itempedidos %>
</p>

<p>
  <strong>Fd produtos:</strong>
  <%= @fd_pedidocombo.fd_produtos %>
</p>

<%= link_to 'Edit', edit_fd_pedidocombo_path(@fd_pedidocombo) %> |
<%= link_to 'Back', fd_pedidocombos_path %>
