<%= form_for(@fd_item) do |f| %>
  <% if @fd_item.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  
  <% if @fd_item.errors.any? %>
  
    <% @fd_item.errors.full_messages.each do |msg| %>
        <%= msg %></br>
      <% end %>
     <% end %>
    </div>
  <% end %>    

  <div class="field">
    <%= f.label :Descrição %><br>
    <%= f.text_field :desc_item, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :Exclusão %><br>
    <%= f.text_field :data_exclusao , :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.hidden_field :fd_empresa_id, :value => user.fd_empresa_id %>
  </div>
  </div>
</div>

<hr/>

<div class="btn-group" role="group" aria-label="...">
  <button type="submit" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
  </button>  

<% end %>