<h1>Listing fd_items</h1>

<table>
  <thead>
    <tr>
      <th>Desc item</th>
      <th>Data exclusao</th>
      <th>Fd empresa</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fd_items.each do |fd_item| %>
      <tr>
        <td><%= fd_item.desc_item %></td>
        <td><%= fd_item.data_exclusao %></td>
        <td><%= fd_item.fd_empresa %></td>
        <td><%= link_to 'Show', fd_item %></td>
        <td><%= link_to 'Edit', edit_fd_item_path(fd_item) %></td>
        <td><%= link_to 'Destroy', fd_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fd item', new_fd_item_path %>
