<p id="notice"><%= notice %></p>

<p>
  <strong>Desc item:</strong>
  <%= @fd_item.desc_item %>
</p>

<p>
  <strong>Data exclusao:</strong>
  <%= @fd_item.data_exclusao %>
</p>

<p>
  <strong>Fd empresa:</strong>
  <%= @fd_item.fd_empresa %>
</p>

<%= link_to 'Edit', edit_fd_item_path(@fd_item) %> |
<%= link_to 'Back', fd_items_path %>
