<p id="notice"><%= notice %></p>

<p>
  <strong>Fd produtos:</strong>
  <%= @fd_produtotrocacombo.fd_produtos %>
</p>

<p>
  <strong>Fd produtocombos:</strong>
  <%= @fd_produtotrocacombo.fd_produtocombos %>
</p>

<%= link_to 'Edit', edit_fd_produtotrocacombo_path(@fd_produtotrocacombo) %> |
<%= link_to 'Back', fd_produtotrocacombos_path %>
