<p id="notice"><%= notice %></p>

<p>
  <strong>Fd intensadicional:</strong>
  <%= @fd_adicionaisincluso.fd_intensadicional %>
</p>

<p>
  <strong>Fd itempedido:</strong>
  <%= @fd_adicionaisincluso.fd_itempedido %>
</p>

<p>
  <strong>Numr quantidade:</strong>
  <%= @fd_adicionaisincluso.numr_quantidade %>
</p>

<%= link_to 'Edit', edit_fd_adicionaisincluso_path(@fd_adicionaisincluso) %> |
<%= link_to 'Back', fd_adicionaisinclusos_path %>
