<%= form_for(@fd_categoriaproduto) do |f| %>
  <% if @fd_categoriaproduto.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  
  <% if @fd_categoriaproduto.errors.any? %>
  
    <% @fd_categoriaproduto.errors.full_messages.each do |msg| %>
        <%= msg %></br>
      <% end %>
     <% end %>
    </div>
  <% end %>  

<div class="row mar-bot40">
  <div class="col-lg-3">
    <%= f.label :Categoria %><br>
    <%= f.text_field :desc_categoria, :class => 'form-control'  %>
  </div>
  <div class="col-lg-3">
    <%= f.label :father_id %><br>
    <%= f.select :father_id, options_from_collection_for_select(FdCategoriaproduto.all, 'id', 'desc_categoria', @fd_categoriaproduto.father_id), {:include_blank => true}, {:class => 'form-control'}%>
  </div>
  <div class="col-lg-3">
    <%= f.label :Global %><br>
    <%= f.check_box :flag_global %>
  </div>  
</div>
<hr/>

<div class="btn-group" role="group" aria-label="...">
  <button type="submit" class="btn btn-primary btn">
    </span> Salvar
  </button>  

<% end %>