<%= form_for(@fd_categoriaproduto) do |f| %>
  <% if @fd_categoriaproduto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fd_categoriaproduto.errors.count, "error") %> prohibited this fd_categoriaproduto from being saved:</h2>

      <ul>
      <% @fd_categoriaproduto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :desc_categoria %><br>
    <%= f.text_field :desc_categoria %>
  </div>
  <div class="field">
    <%= f.label :father_id %><br>
    <%= f.number_field :father_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
