<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Categorias</div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Categoria</th>
          <th>Filho de</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @fd_categoriaprodutos.each do |fd_categoriaproduto| %>
          <tr>
            <td><%= fd_categoriaproduto.desc_categoria %></td>
            <td><%= fd_categoriaproduto.father.desc_categoria rescue nil %></td>
            <td><%= link_to 'Show', fd_categoriaproduto %></td>
            <td><%= link_to 'Edit', edit_fd_categoriaproduto_path(fd_categoriaproduto) %></td>
            <td><%= link_to 'Destroy', fd_categoriaproduto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

</div>
  <%= link_to new_fd_categoriaproduto_path, :class => "btn btn-default" do %>
     Novo
  <% end %>
<br>