<h1>Listing fd_categoriaprodutos</h1>

<table>
  <thead>
    <tr>
      <th>Desc categoria</th>
      <th>Father</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fd_categoriaprodutos.each do |fd_categoriaproduto| %>
      <tr>
        <td><%= fd_categoriaproduto.desc_categoria %></td>
        <td><%= fd_categoriaproduto.father_id %></td>
        <td><%= link_to 'Show', fd_categoriaproduto %></td>
        <td><%= link_to 'Edit', edit_fd_categoriaproduto_path(fd_categoriaproduto) %></td>
        <td><%= link_to 'Destroy', fd_categoriaproduto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fd categoriaproduto', new_fd_categoriaproduto_path %>
