<p id="notice"><%= notice %></p>

<p>
  <strong>Desc categoria:</strong>
  <%= @fd_categoriaproduto.desc_categoria %>
</p>

<p>
  <strong>Father:</strong>
  <%= @fd_categoriaproduto.father_id %>
</p>

<%= link_to 'Edit', edit_fd_categoriaproduto_path(@fd_categoriaproduto) %> |
<%= link_to 'Back', fd_categoriaprodutos_path %>
