<%= form_for(@fd_cargo) do |f| %>
  <% if @fd_cargo.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  
  <% if @fd_cargo.errors.any? %>
  
    <% @fd_cargo.errors.full_messages.each do |msg| %>
        <%= msg %></br>
      <% end %>
     <% end %>
    </div>
<% end %> 




<div class="row mar-bot40">  
  <div class="col-lg-12">
    <%= f.label :nome_cargo %><br>
    <%= f.text_field :nome_cargo, :class => 'form-control' %>
  </div>
</div>

<div class="row mar-bot40">  
  <div class="col-lg-12">
    <%= f.label :Descrição_cargo %><br>
    <%= f.text_field :desc_cargo, :class => 'form-control' %>
  </div>
</div>
      
  <!--Capturando usuario logado-->
  <%=f.hidden_field :fd_empresa_id, :value => user.fd_empresa_id%> 

    </div>
</div>

<hr/>

<div class="btn-group" role="group" aria-label="...">
  <button type="submit" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
  </button>  

<% end %>
