<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3 class="panel-title">Listar Cargos</h3></div>
    <table class="table table-hover">
  <thead>
    <tr>
      <th>Nome cargo</th>
      <th>Descrição cargo</th>
    </tr>
  </thead>

  <tbody>
    <% @fd_cargos.each do |fd_cargo| %>
      <tr>
        <td><%= fd_cargo.nome_cargo %></td>
        <td><%= fd_cargo.desc_cargo %></td>
        <td align='right'>
        <div class="btn-group">
              <%= link_to fd_cargo, :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-list-alt"></span> Exibir
              <% end %>             
              <%= link_to edit_fd_cargo_path(fd_cargo), :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-pencil"></span> Editar
              <% end %>             
              <%= link_to fd_cargo , :method => :delete,  :confirm => 'Deseja excluir o registro?', :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-trash"></span> Excluir
              <% end %>            
        </div>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<%= link_to new_fd_cargo_path, :class => "btn btn-default btn-sm" do %>
   <span class="glyphicon glyphicon-file"></span>Novo
<% end %>

