<h1>Listing fd_servicos</h1>

<table>
  <thead>
    <tr>
      <th>Desc servico</th>
      <th>Numr porcentagem</th>
      <th>Valr servico</th>
      <th>Flag ativo</th>
      <th>Data exclusao</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fd_servicos.each do |fd_servico| %>
      <tr>
        <td><%= fd_servico.desc_servico %></td>
        <td><%= fd_servico.numr_porcentagem %></td>
        <td><%= fd_servico.valr_servico %></td>
        <td><%= fd_servico.flag_ativo %></td>
        <td><%= fd_servico.data_exclusao %></td>
        <td><%= link_to 'Show', fd_servico %></td>
        <td><%= link_to 'Edit', edit_fd_servico_path(fd_servico) %></td>
        <td><%= link_to 'Destroy', fd_servico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fd servico', new_fd_servico_path %>
