<p id="notice"><%= notice %></p>

<p>
  <strong>Fd produto:</strong>
  <%= @fd_itensproduto.fd_produto %>
</p>

<p>
  <strong>Fd item:</strong>
  <%= @fd_itensproduto.fd_item %>
</p>

<%= link_to 'Edit', edit_fd_itensproduto_path(@fd_itensproduto) %> |
<%= link_to 'Back', fd_itensprodutos_path %>
