<h1>Listing fd_statuses</h1>

<table>
  <thead>
    <tr>
      <th>Nome status</th>
      <th>Desc status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fd_statuses.each do |fd_status| %>
      <tr>
        <td><%= fd_status.nome_status %></td>
        <td><%= fd_status.desc_status %></td>
        <td><%= link_to 'Show', fd_status %></td>
        <td><%= link_to 'Edit', edit_fd_status_path(fd_status) %></td>
        <td><%= link_to 'Destroy', fd_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fd status', new_fd_status_path %>
