<p id="notice"><%= notice %></p>

<p>
  <strong>Valr produto:</strong>
  <%= @fd_variacaoproduto.valr_produto %>
</p>

<p>
  <strong>Fd variaco:</strong>
  <%= @fd_variacaoproduto.fd_variaco %>
</p>

<p>
  <strong>Fd produto:</strong>
  <%= @fd_variacaoproduto.fd_produto %>
</p>

<%= link_to 'Edit', edit_fd_variacaoproduto_path(@fd_variacaoproduto) %> |
<%= link_to 'Back', fd_variacaoprodutos_path %>
