<%= form_for(@fd_itensadicional) do |f| %>
  <% if @fd_itensadicional.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  
  <% if @fd_itensadicional.errors.any? %>
  
    <% @fd_itensadicional.errors.full_messages.each do |msg| %>
        <%= msg %></br>
      <% end %>
     <% end %>
    </div>
  <% end %>    


  <div class="field">
    <%= f.label :fd_item_id %><br>
    <%= f.text_field :fd_item_id %>
  </div>
  <div class="field">
    <%= f.label :fd_categoriaproduto_id %><br>
    <%= f.text_field :fd_categoriaproduto_id %>
  </div>
  <div class="field">
    <%= f.label :valr_item %><br>
    <%= f.text_field :valr_item %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
