<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Cadastro Itens Adicionais</h3>
  </div>
  <div class="panel-footer" style="background-color:white;">



<div class="row mar-bot40">
   <div class="col-lg-4"> 
     <select multiple="multiple" id="itemlist1"  class="form-control">
     </select>
   </div>

  <div class="col-lg-4"> 
           <b>Categoria Produto</b>      
            <%= select_tag "categoria_produto", options_from_collection_for_select(FdCategoriaproduto.all, 'id', 'desc_categoria'), include_blank: true, :onchange => 'busca_produto(this.value,1)', :class => 'form-control'%>
  </div>
  <div class="col-lg-2">
      <b>Valor Produto</b> 
      <input id="valor_item" name="valor_item" value="<%=%>" onkeypress="" type="text" class="form-control">
  </div>
  <div class="row" style="margin-top:18px; margin-left:30px;">
      <button id="bntSalvar" type="button" class="btn btn-success" onclick="inclui_item_adicional();">Incluir</button>
  </div>
</div>

<br/>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Item Adicional</th>
      <th>Categoria Produto</th>
      <th>Valor item</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fd_itensadicionals.each do |fd_itensadicional| %>
      <tr>
        <td><%= fd_itensadicional.fd_item.desc_item %></td>
        <td><%= fd_itensadicional.fd_categoriaproduto.desc_categoria %></td>
        <td><%= fd_itensadicional.valr_item %></td>
        <td align='right'>
                  <button type="button" onclick="exclui_item_adicional('<%=fd_itensadicional.id%>')"class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
        </td> 
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<br>


<script>

  function busca_item(){
    $.ajax({
        url: '<%= busca_items_path %>',
        data :
        {},

    success: function(data){
         $("#itemlist1").empty();
         var options = "";
         for (var i in data){
          var item = data[i];

          $('#itemlist1').append("<option value='"+item.id+"'>"+item.desc_item+"</option")

           };

         } 
       })      
    
  }

  function inclui_item_adicional(){

    var itemsele = $('#itemlist1 option:selected').val()

    alert($('#categoria_produto').val())

   alert(itemsele)

  }


  function exclui_item_adicional(){

    

  }


  busca_item();


</script>
 
