<p id="notice"><%= notice %></p>

<p>
  <strong>Fd item:</strong>
  <%= @fd_itensadicional.fd_item %>
</p>

<p>
  <strong>Fd categoriaproduto:</strong>
  <%= @fd_itensadicional.fd_categoriaproduto %>
</p>

<p>
  <strong>Valr item:</strong>
  <%= @fd_itensadicional.valr_item %>
</p>

<%= link_to 'Edit', edit_fd_itensadicional_path(@fd_itensadicional) %> |
<%= link_to 'Back', fd_itensadicionals_path %>
