<%= form_for(@fd_variacao) do |f| %>
  <% if @fd_variacao.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  
  <% if @fd_variacao.errors.any? %>
  
    <% @fd_variacao.errors.full_messages.each do |msg| %>
        <%= msg %></br>
      <% end %>
     <% end %>
    </div>
  <% end %>     

  <div class="row mar-bot40">
    <div class="col-lg-3" >
      <%= f.label :Variação %><br>
      <%= f.text_field :desc_variacao, :class => 'form-control' %>
    </div>
      <%= f.hidden_field :fd_empresa_id, :value => user.fd_empresa_id %>

  </div>

  </div>
</div>

<hr/>

<div class="btn-group" role="group" aria-label="...">
  <button type="submit" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
  </button>  

<% end %>