<p id="notice"><%= notice %></p>

<p>
  <strong>Desc variacao:</strong>
  <%= @fd_variacao.desc_variacao %>
</p>

<p>
  <strong>Fd empresa:</strong>
  <%= @fd_variacao.fd_empresa %>
</p>

<%= link_to 'Edit', edit_fd_variacao_path(@fd_variacao) %> |
<%= link_to 'Back', fd_variacaos_path %>
