<p id="notice"><%= notice %></p>

<p>
  <strong>Numr acao:</strong>
  <%= @fd_itemalterado.numr_acao %>
</p>

<p>
  <strong>Numr quntidade:</strong>
  <%= @fd_itemalterado.numr_quntidade %>
</p>

<p>
  <strong>Fd itempedido:</strong>
  <%= @fd_itemalterado.fd_itempedido %>
</p>

<p>
  <strong>Fd items:</strong>
  <%= @fd_itemalterado.fd_items %>
</p>

<%= link_to 'Edit', edit_fd_itemalterado_path(@fd_itemalterado) %> |
<%= link_to 'Back', fd_itemalterados_path %>
