<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
  <div class="row mar-bot40">
      <div class="col-lg-6"> 
           <b>Categoria</b>

            <a class="btn btn-default" style="width:100%"  title="Abrir" rel="tooltip" href="javascript:abre_categoria();">
         Selecione as Categorias
        </a>
      </div>
     <div class="col-lg-6"> 
      <b>Situação</b>      
            <%= select_tag "situacao", options_from_collection_for_select(FdSituacao.all, 'id', 'nome_situacao'), include_blank: true, :onchange => 'busca_pedidos()', :class => 'form-control'%>
      </div>
    </div>
    </div>





<input type="hidden" name="cat_produto" id="cat_produto">


<div class="modal fade bs-example-modal-sm" id="mdCategoria" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden= "true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="list-group divCategoria">
          <a href="#" class="list-group-item disabled"><strong>Categoria</strong></a>        
        <div data-toggle="buttons-checkbox" id="checategoria">
          <% @fd_categoriaproduto.each do |categoria| %>
          <tbody id="lbcategoria">
            <tr>
              <td>
                <button type="button" style="width:100%"  value="<%=categoria.id%>" class="btn btn-default"><%=categoria.desc_categoria%></button>
              <td>
            </tr>
          </tbody>
          <%end%> 
        </div>
      </div>
    <a class="btn btn-primary"  style="width:100%"  title="Abrir" rel="tooltip" href="javascript:selecionar_categoria();">
         Ok
    </a>      
    </div> 
  </div>
</div>

<table class="table table-hover"  id="tlbpedido">
  <thead>
    <tr>
      <th>Pedido</th>
      <th>Tam</th>
      <th>Ped</th>
      <th>Para</th>
    </tr>
  </thead>

  <tbody id="lbpedidos">
  </tbody>
</table>
</div>


<script>

  function busca_pedidos(){

      $.ajax({
          url: '<%= busca_pedidos_geral_path %>',
          data :
          {
            categoria_produto: $('#cat_produto').val()
            ,situacao: $('#situacao').val()
          },

      success: function(data){
        $("#lbpedidos").empty();
         for (var i in data){
          var item = data[i];
          var para = "", tamanho = "", itemmais = "", itemmenos = "";
      

              if (item.tipo_atendimento == "mesa"){
                  para = "Servir Mesa " + item.mesa
                }else if(item.tipo_atendimento == "entrega"){
                  para = "Entrega"
                }else if(item.tipo_atendimento == "viagem"){
                  para = "Viagem"
                }

              if(item.tamanho == "Pequena"){
                  tamanho = "P"
              }else if(item.tamanho == "Média"){
                tamanho = "M"
              }else if(item.tamanho == "Grande"){
                tamanho = "G"
              }  
            
             if (item.itemmais != ""){
                item.itemmais = "+ " + item.itemmais 
             }
             
             if (item.itemmenos != ""){
                item.itemmenos = "- " + item.itemmenos 
             }


             if (item.situacao == "Solicitado"){
                  $('#tlbpedido').append('<tr class="warning"><td><h4>'+item.nome_produto+'</h4><h7 style="color:green;font-style:italic"><br/>'+item.itemmais+'</h7><h7 style="color:red;font-style: italic"><br/>'+item.itemmenos+'</h7></td><td><h4>'+tamanho+'</h4></td><td><h4>'+item.numr_contador+'</h4></td><td><h4>'+para+'</h4></td><td align="right"><button type="button" onclick="muda_situacao('+item.id+');" class="btn btn-success  btn-lg" rel="tooltip" style="width:120px"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Pronto</button></td></tr>')
             }if(item.situacao == "Pronto" && item.tipo_atendimento == "entrega"){
                $('#tlbpedido').append('<tr class="warning"><td><h4>'+item.nome_produto+'</h4><h7 style="color:green;font-style: italic"><br/>'+item.itemmais+'</h7><h7 style="color:red;font-style: italic"><br/>'+item.itemmenos+'</h7></td><td><h4>'+tamanho+'</h4></td><td><h4>'+para+'</h4></td><td align="right"><button type="button" onclick="muda_situacao('+item.id+');" class="btn btn-success  btn-lg" rel="tooltip" style="width:120px"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> OK</button></td></tr>')
             }if(item.situacao == "Pronto" && item.tipo_atendimento == "mesa" ){
               $('#tlbpedido').append('<tr class="warning"><td><h4>'+item.nome_produto+'</h4><h7 style="color:green;font-style: italic"><br/>'+item.itemmais+'</h7><h7 style="color:red;font-style: italic"><br/>'+item.itemmenos+'</h7></td><td><h4>'+tamanho+'</h4></td><td><h4>'+para+'</h4></td><td align="right"></td></tr>')
             }if(item.situacao == "Entregue" && item.tipo_atendimento == "entrega" ){
               $('#tlbpedido').append('<tr class="warning"><td><h4>'+item.nome_produto+'</h4><h7 style="color:green;font-style: italic"><br/>'+item.itemmais+'</h7><h7 style="color:red;font-style: italic"><br/>'+item.itemmenos+'</h7></td><td><h4>'+tamanho+'</h4></td><td><h4>'+para+'</h4></td><td align="right"></td></tr>')
             }
            };
           } 
         })      
  }

   function muda_situacao(id){

      $.ajax({
          url: '<%= muda_sitaucao_pedido_path %>',
          data :
          {
            categoria_produto: $('#categoria_produto').val()
            ,situacao: $('#situacao').val()
            ,fd_itempedido: id 
          },

      success: function(data){
        $("#lbpedidos").empty();
         for (var i in data){
          var item = data[i];
          var para = "", tamanho = "", itemmais = "", itemmenos = "";
      

              if (item.tipo_atendimento == "mesa"){
                  para = "Servir Mesa " + item.mesa
                }else if(item.tipo_atendimento == "entrega"){
                  para = "Entrega"
                }else if(item.tipo_atendimento == "viagem"){
                  para = "Viagem"
                }

              if(item.tamanho == "Pequena"){
                  tamanho = "P"
              }else if(item.tamanho == "Média"){
                tamanho = "M"
              }else if(item.tamanho == "Grande"){
                tamanho = "G"
              }  
            
             if (item.itemmais != ""){
                item.itemmais = "+ " + item.itemmais 
             }
             
             if (item.itemmenos != ""){
                item.itemmenos = "- " + item.itemmenos 
             }


             if (item.situacao == "Solicitado"){
                  $('#tlbpedido').append('<tr class="warning"><td><h4>'+item.nome_produto+'</h4><h7 style="color:green;font-style:italic"><br/>'+item.itemmais+'</h7><h7 style="color:red;font-style: italic"><br/>'+item.itemmenos+'</h7></td><td><h4>'+tamanho+'</h4></td><td><h4>'+para+'</h4></td><td align="right"><button type="button" onclick="muda_situacao('+item.id+');" class="btn btn-success  btn-lg" rel="tooltip" style="width:120px"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Pronto</button></td></tr>')
             }if(item.situacao == "Pronto" && item.tipo_atendimento == "entrega"){
                $('#tlbpedido').append('<tr class="warning"><td><h4>'+item.nome_produto+'</h4><h7 style="color:green;font-style: italic"><br/>'+item.itemmais+'</h7><h7 style="color:red;font-style: italic"><br/>'+item.itemmenos+'</h7></td><td><h4>'+tamanho+'</h4></td><td><h4>'+para+'</h4></td><td align="right"><button type="button" onclick="muda_situacao('+item.id+');" class="btn btn-success  btn-lg" rel="tooltip" style="width:120px"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> OK</button></td></tr>')
             }if(item.situacao == "Pronto" && item.tipo_atendimento == "mesa" ){
               $('#tlbpedido').append('<tr class="warning"><td><h4>'+item.nome_produto+'</h4><h7 style="color:green;font-style: italic"><br/>'+item.itemmais+'</h7><h7 style="color:red;font-style: italic"><br/>'+item.itemmenos+'</h7></td><td><h4>'+tamanho+'</h4></td><td><h4>'+para+'</h4></td><td align="right"></td></tr>')
             }if(item.situacao == "Entregue" && item.tipo_atendimento == "entrega" ){
               $('#tlbpedido').append('<tr class="warning"><td><h4>'+item.nome_produto+'</h4><h7 style="color:green;font-style: italic"><br/>'+item.itemmais+'</h7><h7 style="color:red;font-style: italic"><br/>'+item.itemmenos+'</h7></td><td><h4>'+tamanho+'</h4></td><td><h4>'+para+'</h4></td><td align="right"></td></tr>')
             }
            };
           } 
         })      
  }




function abre_categoria(){
  $('#mdCategoria').modal('show');
}


function selecionar_categoria(){
  var values = [];
  $('#cat_produto').val("");
    $('#checategoria').find('.active').each( function() {
        values.push( $(this).val());

     $('#cat_produto').val(values);

    } 
    );

    $('#mdCategoria').modal('hide');
    busca_pedidos()

}

 busca_pedidos();

  var segundos = 10
  window.setInterval('busca_pedidos()', segundos* 1000);

</script>
