<a class="btn btn-success btn-lg" href="<%=pedidos_path(@fd_mesa_id,0,@tipo_atendimento)%>" role="button"><span class="glyphicon glyphicon-plus"></span> Abrir Mesa </a>

<br/>
<br/>

<div class="panel panel-default">
  <div class="list-group">
    <a href="#" class="list-group-item disabled">
      Recentes...
    </a>
    <% @fd_pedidos.each do |fd_pedido| %>
     <a href="<%=pedidos_path(0,fd_pedido.id,'mesa')%>" class="list-group-item list-group-item-<%= fd_pedido.fd_situacao_id == 1 ? 'danger' : 'success' %>">
      <span class="glyphicon glyphicon-folder-<%= fd_pedido.fd_situacao_id == 1 ? 'open' : 'close' %>" aria-hidden="true"></span>
      <b>Nº</b> <%= fd_pedido.id %>
     </a>
    <% end %>
    <a href="#" class="list-group-item disabled">
      ...
    </a>    
  </div>
</div>
