<%#encoding: utf-8%>
<div class="row mar-bot40">
  <div class="col-lg-8">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#tab1" data-toggle="tab">Pedido</a>
        </li>
        <li >
          <a href="#tab2" data-toggle="tab">Produtos</a>
        </li>
        <li>
          <a href="#tab3" data-toggle="tab">Serviços</a>
        </li>               
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <br/>
          <div class="panel panel-default">
            <div class="panel-heading"><strong>Mesa 04</strong></div>
              <table class="table table-hover " name="tlbItensPedidos" id="tlbItensPedidos">
                <thead>
                  <tr>
                    <th>Produto</th>
                    <th>Variação</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="bodyTlbItensPedidos">                               
                </tbody>
              </table>
            </div>
          </div>
        <div class="tab-pane" id="tab2">
          <br/>
          <div class="divCategorias">
            <div class="row mar-bot40">
            </div>
          </div>
          <br/>
          <div style="display:block">
          <div class="panel panel-default">
            <div class="panel-heading"><strong>Pizzas</strong></div>
              <table class="table table-hover" name="tlbProdutos" id="tlbProdutos">
                <thead>
                  <tr>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody id="bodyTlbProdutos">
                            
                </tbody>
              </table>
            </div>   
          </div>         
            
        </div>

        <div class="tab-pane" id="tab3">

          <br/>
          <div class="panel panel-default">
            <div class="panel-heading"><strong>Serviços</strong></div>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Tipo</th>
                    <th>Preço</th>
                    <th>Qtd.</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Taxa Garçon</td>
                    <td>10%</td>
                    <td>1</td>
                    <td align="right">
                      <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                      </div>                    
                    </td>
                  </tr>
                  <tr>
                    <td>Cover</td>
                    <td>R$ 5,00</td>
                    <td>3</td>
                    <td align="right">
                      <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                      </div>                    
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>        

            
        </div>        
      </div>
    </div>
  </div>
  <div class="col-lg-4">

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Comanda</div>
      <div class="panel-body">
        <br/>
        <table width="100%" name="tlbItensComanda" id="tlbItensComanda">
          <tbody id="bodyTlbComanda">
            <tr class="dotted">
              <td align="left">Pizza Moda</td>
              <td align="right">R$ 25,00</td>
            </tr>
          </tbody>                                      
        </table>
      </div>
      <br/>
      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row mar-bot40">
            <div class="col-lg-6">
              <strong>Total:</strong>
            </div>
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">R$</span>
                <input type="text" class="form-control" placeholder="Total" aria-describedby="basic-addon1">
              </div>
            </div>
        </li>
        <li class="list-group-item">
          <div class="row mar-bot40">
            <div class="col-lg-6">
              <strong>Taxas:</strong>
            </div>
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">R$</span>
                <input type="text" class="form-control" placeholder="Taxas" aria-describedby="basic-addon1">
              </div>
            </div>
        </li>
        <li class="list-group-item">
          <div class="row mar-bot40">
            <div class="col-lg-6">
              <strong>Total Geral:</strong>
            </div>
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">R$</span>
                <input type="text" class="form-control" placeholder="Total Geral" aria-describedby="basic-addon1">
              </div>
            </div>
        </li>
        <li class="list-group-item">
          <div class="row mar-bot40">
            <div class="col-lg-6">
              <strong>Dinheiro:</strong>
            </div>
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">R$</span>
                <input type="text" class="form-control" placeholder="Dinheiro" aria-describedby="basic-addon1">
              </div>
            </div>
        </li>
        <li class="list-group-item">
          <div class="row mar-bot40">
            <div class="col-lg-6">
              <strong>Troco:</strong>
            </div>
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">R$</span>
                <input type="text" class="form-control" placeholder="Troco" aria-describedby="basic-addon1">
              </div>
            </div>
        </li>
        <li class="list-group-item">
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span> Fechar</button>
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimir</button>
        </li>                   
      </ul>
    </div>

  </div>
</div>

<div class="modal fade" id="mdIngredientes">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Ingredientes</h4>
      </div>
      <div class="modal-body">
        <!-- Tabela -->
        <table class="table table-hover" name="tlbIngredientes" id="tlbIngredientes">
          <tbody id="bodyIngredientes">
          </tbody>                                      
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade bs-example-modal-sm" id="mdVariacoes" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="list-group divVariacoes">
      </div>
    </div>
  </div>
</div>

<script>

//$('#mdIngredientes').modal('show');

function alteraingredientes(fd_itempedido_id,numr_acao,fd_items_id) {

  $.ajax({
    url: '<%= insere_ingredientealterado_path %>',
    data : 
    {
        fd_items_id : fd_items_id
        ,fd_itempedido_id : fd_itempedido_id
        ,numr_acao : numr_acao

    },
    success: function(data){
      buscaIngredientes(fd_itempedido_id);
    }
  })  
}


function buscaIngredientes(fd_itempedido_id) {

  //alert('lol');

  $.ajax({
    url: '<%= busca_item_path %>',
    data : 
    {
        fd_itempedido_id : fd_itempedido_id

    },
    success: function(data){

      $("#bodyIngredientes").empty();

      for (var i in data) {
        var item = data[i];

          if(item.numr_qtd == null){
              item.numr_qtd = ""
          };

          $('#tlbIngredientes').append('<tr><td>'+item.desc_item+'</td><td><span class="badge">'+item.numr_qtd+'</span></td><td align="right"></td><td align="right"><button type="button" onclick="alteraingredientes('+item.fd_itempedido_id+',0,'+item.id+')"class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button><button onclick="alteraingredientes('+item.fd_itempedido_id+',1,'+item.id+')" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td></tr>');    

      };      

      if (data.length > 0){
        $('#mdIngredientes').modal('show')

      };
    }
  })  
}


function excluiItensPedidos(id) {

  $.ajax({
    url: '<%= exclui_itempedido_path %>',
    data : 
    {
        id : id
    },
    success: function(data){

      buscaItensPedidos(1);

    }
  })  
}

function buscaItensPedidos(fd_pedido_id) {

  $.ajax({
    url: '<%= busca_itempedido_path %>',
    data : 
    {
        fd_pedido_id : fd_pedido_id
    },
    success: function(data){

          $("#bodyTlbItensPedidos").empty();
          $("#bodyTlbComanda").empty();

      for (var i in data) {
        var item = data[i];

          $('#tlbItensPedidos').append('<tr><td>'+item.desc_produto+'</td><td>'+item.desc_variacao+'</td><td align="right"><div class="btn-group" role="group"></button><button onclick="buscaIngredientes('+item.id+');" type="button" class="btn btn-default"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span></button><button type="button" onclick="excluiItensPedidos('+item.id+')"class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button><button onclick="dobraItemPedido('+item.id+');" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></div></td></tr>');

          $('#tlbItensComanda').append('<tr class="dotted"><td>'+item.desc_produto+'</td><td>'+item.valr_item+'</td><td align="right"></td></tr>');                         

      };

    }
  })  
}

function dobraItemPedido(fd_itempedido_id) {

  //alert('lol');

  $.ajax({
    url: '<%= dobra_itempedido_path %>',
    data : 
    {
        fd_itempedido_id : fd_itempedido_id

    },
    success: function(data){

      $('#mdVariacoes').modal('hide')
      buscaItensPedidos(1);
    }
  })  
}

function incluiItemPedido(fd_variacaoproduto_id,valr_produto) {

  $.ajax({
    url: '<%= insere_itempedido_path %>',
    data : 
    {
        desc_observacao : "desc_observacao"
        ,valr_item : valr_produto
        ,tipo_atendimento : 'tipo_atendimento'
        ,fd_variacaoproduto_id : fd_variacaoproduto_id
        ,fd_pedido_id : 1
        ,fd_status_id : 1
        ,fd_funcionario_id : 1
    },
    success: function(data){

      $('#mdVariacoes').modal('hide')
      buscaItensPedidos(1);
    }
  })  
}


function incluiItem(fd_produto_id) {

  $.ajax({
    url: '<%= busca_variacaoprodutos_path %>',
    data : 
    {
        fd_produto_id : fd_produto_id
    },
    success: function(data){

          $('#mdVariacoes').modal('show');

          $("div.divVariacoes").html("");
          $("div.divVariacoes").append('<a href="#" class="list-group-item disabled"><strong>Variações</strong></a>');

      for (var i in data) {
        var item = data[i];

          $("div.divVariacoes").append('<a href="#" class="list-group-item">' + item.desc_variacao + '<span class="badge">+</span></a>');

      };

    }
  })  
}


function buscaVariacoes(fd_produto_id) {

  $.ajax({
    url: '<%= busca_variacaoprodutos_path %>',
    data : 
    {
        fd_produto_id : fd_produto_id
    },
    success: function(data){


          $("div.divVariacoes").html("");
          $("div.divVariacoes").append('<a href="#" class="list-group-item disabled"><strong>Variações</strong></a>');

      for (var i in data) {
        var item = data[i];

          if (data.length == 1){
              incluiItemPedido(item.id,item.valr_produto);
          } else {

            $("div.divVariacoes").append('<a href="javascript:incluiItemPedido('+item.id+','+item.valr_produto+')" class="list-group-item">' + item.desc_variacao + '<span class="badge">+</span></a>');

          };
      };

      if (data.length != 1){

        $('#mdVariacoes').modal('show');

      }

    }
  })  
}


function buscaCategorias(father_id) {

  $.ajax({
    url: '<%= buscaCategoriaProdutos_path %>',
    data : 
    {
        father_id : father_id
    },
    success: function(data){

    buscaprodutos(father_id);

    $("div.divCategorias").html("");
    $("div.divCategorias").append("<button type='button' onclick='buscaCategorias();' class='btn btn-primary btn-lg'>Geral</button>");
      for (var i in data) {
        var item = data[i];

        $("div.divCategorias").append("<button type='button' onclick='buscaCategorias("+ item.id +");' class='btn btn-default btn-lg'>" + item.desc_categoria + "</button>");

      };

    }
  })  
}


function buscaprodutos(fd_categoriaproduto_id) {

  $.ajax({
    url: '<%= busca_produtos_path %>',
    data : 
    {
        fd_categoriaproduto_id : fd_categoriaproduto_id
    },
    success: function(data){

          $("#bodyTlbProdutos").empty();

      for (var i in data) {
        var item = data[i];

          $('#tlbProdutos').append('<tr><td>'+item.nome_produto+'</td><td>R$</td><td align="right"><button type="button" onclick="buscaVariacoes('+item.id+')" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td></tr>');         

      };

    }
  })  
}

buscaCategorias();
buscaItensPedidos(1);
</script>