<%#encoding: utf-8%>
<script>
  jsonObj = [];
</script>
<input type="hidden" id="fd_pedido_id" name="fd_pedido_id" value="<%=@fd_pedido_id%>">
<input type="hidden" id="fd_itempedido_id" name="fd_itempedido_id" value="">
<input type="hidden" id="fd_cliente_id" name="fd_cliente_id" value="<%=@fd_cliente_id%>">
<div class="row mar-bot40">
  <div class="col-lg-8">
      <div id = "alert_placeholder_periodo"></div>  
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#tab1" data-toggle="tab">Pedido</a>
        </li>
        <li >
          <a href="#tab2" data-toggle="tab">Produtos</a>
        </li>
        <li>
          <a href="#tab3" data-toggle="tab">Serviços</a>
        </li>
        <li>
          <a href="#tab4" data-toggle="tab">Cliente</a>
        </li>  
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <br/>
          <div class="panel panel-primary">
            <div class="panel-heading"><strong>Mesa Nº <%=@fd_mesa.numr_mesa rescue nil%> / Pedido: <%=@fd_pedido_id%></strong></div>
              <table class="table table-hover " name="tlbItensPedidos" id="tlbItensPedidos">
                <thead>
                  <tr>
                    <th>Produto</th>
                    <th>Variação</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="bodyTlbItensPedidos">                               
                </tbody>
              </table>
            </div>
          </div>
        <div class="tab-pane" id="tab2">
          <br/>
          <div class="divCategorias">
            <div class="row mar-bot40">
            </div>
          </div>
          <br/>

          <!-- MISTOS 
          <a class="btn btn-danger btn-xs pull-right" id="add" href="javascript:removePedidoMisto();"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>              
          -->
          <div id="divMistos">
            <div class="panel panel-default">
              <div class="panel-heading"><strong><label>Pedidos Mistos</label></strong>
              <a class="btn btn-success btn-xs pull-right" id="add" href="javascript:inserePedidoMisto();"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>              
            </div>
              <table class="table table-hover" name="tlbMistos" id="tlbMistos">
                <thead>
                  <tr>
                    <th>Produto</th>
                    <th>Variação</th>
                    <th></th>
                  </tr>
                </thead>              
                <tbody id="bodyMistos">
                </tbody>                                      
              </table>
            </div>
          </div>

          <!-- PRODUTOS -->
          <div class="panel panel-success">
            <div class="panel-heading"><strong><label  ID="lblAssetName"  name=<"lLlAssetName"></label></strong>
          </div>
            <table class="table table-hover" name="tlbProdutos" id="tlbProdutos">
              <thead>
                <tr>
                  <th>Produto</th>
                  <th>Preço</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="bodyTlbProdutos">
              </tbody>
            </table>
          </div>   
        </div>

        <div class="tab-pane" id="tab3">

          <br/>
          <div class="panel panel-info">
            <div class="panel-heading"><strong>Serviços</strong></div>
              <table class="table table-hover" name="tlbServicos" id="tlbServicos">
                <thead>
                  <tr>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>%</th>
                    <th>Qtd</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="bodyTlbServicos">
                </tbody>
              </table>
            </div>        

            
        </div>
        <div class="tab-pane" id="tab4">
          <br/>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Clientes</h3>
            </div>
            <div class="panel-footer" style="background-color:white;">
              <div class="row">
                <div class="col-lg-5">
                  <label>Nome</label>
                  <input type="text" id="txtNomeCliente" onkeyup="buscaCliente();" class="form-control">
                </div>
                <div class="col-lg-3">
                  <label>Telefone</label>
                  <input type="text" id="txtTelefoneCliente" class="form-control">
                </div>
                <div class="col-lg-2">
                  <label>&nbsp;</label>
                  <button type="button" onclick="incluiCliente();" class="btn btn-success form-control"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Salvar</button>
                </div>                  
                <div class="col-lg-2">
                  <label>&nbsp;</label>
                  <button type="button" onclick="limparcliente();" class="btn btn-danger form-control"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Limpar</button>
                </div>                  
              </div>
            </div>
            <div class="list-group divClientes">
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Endereços</h3>
            </div>
            <div class="panel-footer" style="background-color:white;">
                
              <div class="row">
                <div class="col-lg-6">
                  <label>Rua</label>
                  <input type="text" id="txtRua" class="form-control">
                </div>
                <div class="col-lg-3">
                  <label>Quadra</label>
                  <input type="text" id="txtQuadra" class="form-control">
                </div>
                <div class="col-lg-3">
                  <label>Lote</label>
                  <input type="text" id="txtLote" class="form-control">
                </div>
                <div class="col-lg-4">
                  <label>Bairro</label>
                  <input type="text" id="txtBairro" class="form-control">
                </div>
                <div class="col-lg-8">
                  <label>Referencia</label>
                  <input type="text" id="txtReferencia" class="form-control">
                </div>                             
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">

    <div class="panel panel-danger">
      <!-- Default panel contents -->
      <div class="panel-heading">Pedido <strong>Mesa: <%=@fd_mesa.numr_mesa rescue nil%> / Pedido: <%=@fd_pedido_id%></strong></div>
      <div class="panel-body">
        <br/>
        <table width="100%" name="tlbItensComanda" id="tlbItensComanda">
          <tbody id="bodyTlbComanda">
            <tr class="dotted">
            </tr>
          </tbody>                                      
        </table>
      </div>
      <br/>
      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row mar-bot40">
            <div class="col-lg-6">
              <strong>Total:</strong>
            </div>
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">R$</span>
                <input type="text" id="total" name="total" class="form-control" placeholder="Total" value="" aria-describedby="basic-addon1">
              </div>
            </div>
        </li>       
        <li class="list-group-item">

            <button type="button" class="btn btn-success" onclick="efetuarPagamento();"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span> Pagar </button>

            <%fd_mesa_id = @fd_mesa.id rescue 0%>
            <%= link_to fecha_pedido_path(fd_mesa_id,@fd_pedido_id), :class => "btn btn-danger not-visited" do %>
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Fechar Pedido
            <% end %>

        </li>                   
      </ul>
    </div>

  </div>
</div>

<div class="modal fade" id="mdIngredientes">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="h4Ingredientes" class="modal-title">Ingredientes</h4>
        <h4 id="h4Adicionais" class="modal-title" style="display:none;">Adicionais</h4>
      </div>
      <div class="modal-body">

        <div id="divIngredientes" name="divIngredientes" style="display:block">
          <!-- Tabela -->
          <table class="table table-hover" name="tlbIngredientes" id="tlbIngredientes">
            <tbody id="bodyIngredientes">
            </tbody>                                      
          </table>
        </div>

        <div id="divAdicionais" name="divAdicionais" style="display:none">
          <!-- Tabela -->
          <table class="table table-hover" name="tlbAdicionais" id="tlbAdicionais">
            <tbody id="bodyAdicionais">
            </tbody>                                      
          </table>
        </div>        

      </div>
      <div class="modal-footer">
        <button type="button" onclick="IngredAdiciona('ingredientes')" class="btn btn-success" >Ingredientes</button>
        <button type="button" onclick="IngredAdiciona('adicionais')" class="btn btn-primary" >Adicionais</button>
        <button type="button"  class="btn btn-danger" data-dismiss="modal">Fechar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="mdTrocas">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="h4Trocas" class="modal-title">Trocas</h4>
        <h4 id="h4Escolhas" class="modal-title" style="display:none;">Escolhas</h4>
      </div>
      <div class="modal-body">

        <div id="divTrocas" name="divTrocas" style="display:none">
          <!-- Tabela -->
          <table class="table table-hover" name="tlbTrocas" id="tlbTrocas">
            <tbody id="bodyTrocas">
            </tbody>                                      
          </table>
        </div>

        <div id="divEscolhas" name="divEscolhas" style="display:none">
          <!-- Tabela -->
          <table class="table table-hover" name="tlbEscolhas" id="tlbEscolhas">
            <tbody id="bodyEscolhas">
            </tbody>                                      
          </table>
        </div>        

      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-danger" data-dismiss="modal">Fechar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade bs-example-modal-sm" id="mdVariacoes" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="list-group divVariacoes">
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="mdTipoAtendimento" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="list-group divTipoAtendimento">
        <a href="javascript:escolheTipoAtendimento('entrega')" class="list-group-item"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Entrega</a>
        <a href="javascript:escolheTipoAtendimento('viagem')" class="list-group-item"><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Viagem</a>
        <a href="javascript:escolheTipoAtendimento('mesa')" class="list-group-item"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> Mesa</a>
      </div>
    </div>
  </div>
</div>

<script>


function efetuarPagamento(){

  $.ajax({
    url: '<%= efetua_pagamento_path %>',
    data : 
    {
        valr_pedido : $("#total").val()
        ,fd_pedido_id : $("#fd_pedido_id").val()
    },
    success: function(data){

      alert_boot('Pagamento realizado com sucesso.','success','#alert_placeholder_periodo')

    }
  })  
}

function limparcliente(){

        $("#txtNomeCliente").val("");
        $("#txtTelefoneCliente").val("");
        $("#txtRua").val("");
        $("#txtQuadra").val("");
        $("#txtLote").val("");
        $("#txtBairro").val("");
        $("#txtReferencia").val("");

}

function atualizaCliente(fd_cliente_id){

  $.ajax({
    url: '<%= atualiza_cliente_path %>',
    data : 
    {
        fd_cliente_id : fd_cliente_id
        ,fd_pedido_id : $("#fd_pedido_id").val()
    },
    success: function(data){

        for (var i in data) {
          var item = data[i];

          $("#txtNomeCliente").val(item.nome_cliente);
          $("#txtTelefoneCliente").val(item.desc_telefone);
          $("#txtRua").val(item.nome_rua);
          $("#txtQuadra").val(item.numr_quadra);
          $("#txtLote").val(item.numr_lote);
          $("#txtBairro").val(item.nome_bairro);
          $("#txtReferencia").val(item.desc_pontoreferencia);

          alert_boot('Cliente incluído com sucesso.','success','#alert_placeholder_periodo')

        };   

    }
  })  

}


function incluiCliente(){

  $.ajax({
    url: '<%= inclui_cliente_path %>',
    data : 
    {
        nome_cliente : $("#txtNomeCliente").val()
        ,desc_telefone : $("#txtTelefoneCliente").val()
        ,nome_rua : $("#txtRua").val()
        ,numr_quadra : $("#txtQuadra").val()
        ,numr_lote : $("#txtLote").val()
        ,nome_bairro : $("#txtBairro").val()
        ,desc_pontoreferencia : $("#txtReferencia").val()
        ,fd_pedido_id : $("#fd_pedido_id").val()
    },
    success: function(data){

        alert_boot('Cliente incluído com sucesso.','success','#alert_placeholder_periodo')

    }
  })  

}

function buscaCliente(){

  $.ajax({
    url: '<%= buscaCliente_path %>',
    data : 
    {
        nome_cliente : $("#txtNomeCliente").val()
    },
    success: function(data){

        $("div.divClientes").html("");

        for (var i in data) {
          var item = data[i];

            $("div.divClientes").append('<a href="javascript:atualizaCliente('+item.fd_cliente_id+')" class="list-group-item list-group-item-info">' + item.nome_cliente + '<span class="badge">+</span></a>');

        };      


    }
  })  

} 

function escolheTipoAtendimento(tipo_atendimento){

  $.ajax({
    url: '<%= atualiza_tipoatendimento_path %>',
    data : 
    {
        tipo_atendimento : tipo_atendimento
        ,fd_itempedido_id : $("#fd_itempedido_id").val()
    },
    success: function(data){

      $('#mdTipoAtendimento').modal('hide');
      buscaItensPedidos($('#fd_pedido_id').val());

      alert_boot('Atendimento alterado para: '+tipo_atendimento+'.','success','#alert_placeholder_periodo')

    }
  })  

}



function inserePedidoMisto(){

  for (var i in jsonObj) {
    var item = jsonObj[i];

    if(i == 0){
      fd_variacaoproduto_id = item.id;
    }

    if(i == 1){
      fd_variacaoproduto_id2 = item.id;
    }    

  };

  $.ajax({
    url: '<%= insere_pedidomisto_path %>',
    data : 
    {
        fd_variacaoproduto_id : parseInt(fd_variacaoproduto_id)
        ,fd_variacaoproduto_id2 : parseInt(fd_variacaoproduto_id2)
        ,fd_pedido_id : $('#fd_pedido_id').val()
    },
    success: function(data){

      jsonObj = [];
      constroiPedidoMisto();
      buscaItensPedidos($('#fd_pedido_id').val());
      alert_boot('Item incluído com sucesso.','success','#alert_placeholder_periodo')

    }
  })  
}


function removePedidoMisto(count){

  jsonObj.splice(count,1);
  constroiPedidoMisto();

}

function constroiPedidoMisto(){

  var count = 0;

  $("#divMistos").show();
  $("#bodyMistos").empty();

  if (jsonObj.length == 0){
    $("#divMistos").hide();
  }

  for (var i in jsonObj) {
    var item = jsonObj[i];


    $('#tlbMistos').append('<tr><td>'+item.id+'</td><td>'+item.nome_produto+'</td><td>'+item.desc_variacao+'</td><td align="right"><button type="button" onclick="removePedidoMisto('+count+');" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td></tr>');

      count = count + 1
  }

}

function realizaTroca(fd_itempedidos_id,fd_produtos_id_desejado,fd_produtos_id_trocado) {
  $.ajax({
    url: '<%= troca_produtos_combo_path %>',
    data : 
    {
        fd_itempedidos_id : fd_itempedidos_id
        ,fd_produtos_id_desejado : fd_produtos_id_desejado
        ,fd_produtos_id_trocado : fd_produtos_id_trocado
    },
    success: function(data){

      var fd_itempedidos_id
      if (data.length > 0){

        for (var i in data) {
          var item = data[i];

            fd_itempedidos_id = item.fd_itempedidos_id;

        };

        exibeDivTrocas(0);
        buscaTrocas(fd_itempedidos_id);
      };      

    }
  })  
}

function exibeDivTrocas(tipo) {

  if (tipo == 0) {
    $("#divEscolhas").hide();
    $("#h4Escolhas").hide();
    $("#divTrocas").show();
    $("#h4Trocas").show();
  } else {
    $("#divEscolhas").show();
    $("#h4Escolhas").show();
    $("#divTrocas").hide();
    $("#h4Trocas").hide();    
  };

}

function exibeTrocas(fd_produtocombos_id,fd_itempedidos_id,fd_produtos_id) {


  $.ajax({
    url: '<%= busca_produto_trocas_path %>',
    data : 
    {
        fd_produtocombos_id : fd_produtocombos_id
    },
    success: function(data){

      if (data.length > 0){

        $("#bodyEscolhas").empty();
        $('#mdTrocas').modal('show')

        for (var i in data) {
          var item = data[i];

            $('#tlbEscolhas').append('<tr><td>'+item.nome_produto+'</td><td align="right"><button type="button" onclick="realizaTroca('+fd_itempedidos_id+','+item.fd_produtos_id+','+fd_produtos_id+')"class="btn btn-default"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button><button type="button" onclick="exibeDivTrocas(0);" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button></td></tr>');    

        };

        exibeDivTrocas(1);
      };      

    }
  })  
}

function buscaTrocas(fd_itempedidos_id) {

  $.ajax({
    url: '<%= busca_trocas_path %>',
    data : 
    {
        fd_itempedidos_id : fd_itempedidos_id
    },
    success: function(data){

      $("#bodyTrocas").empty();
      $('#mdTrocas').modal('show')

      for (var i in data) {
        var item = data[i];

          $('#tlbTrocas').append('<tr><td>'+item.nome_produto+'</td><td align="right"><button type="button" onclick="exibeTrocas('+item.id+','+item.fd_itempedidos_id+','+item.fd_produtos_id+')"class="btn btn-default"><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span></button></td></tr>');    

      };

      exibeDivTrocas(0);

    }
  })  
}

function alteraAdicionais(fd_itensadicional_id,numr_acao,fd_itempedido_id) {

  $.ajax({
    url: '<%= insere_adicionais_path %>',
    data : 
    {
        fd_itensadicional_id : fd_itensadicional_id
        ,numr_acao : numr_acao
        ,fd_itempedido_id : fd_itempedido_id

    },
    success: function(data){
      var fd_categoriaproduto_id

      for (var i in data) {
        var item = data[i];

         fd_categoriaproduto_id =  item.fd_categoriaproduto_id;
      };     

      buscaAdicionais(fd_itempedido_id,fd_categoriaproduto_id);
    }
  })  
}

function buscaAdicionais(fd_itempedido_id,fd_categoriaproduto_id) {

  $.ajax({
    url: '<%= busca_itemadicional_path %>',
    data : 
    {
        fd_itempedido_id : fd_itempedido_id
        ,fd_categoriaproduto_id : fd_categoriaproduto_id

    },
    success: function(data){

      $("#bodyAdicionais").empty();

      for (var i in data) {
        var item = data[i];

          if(item.numr_qtd == null){
              item.numr_qtd = ""
          };

          $('#tlbAdicionais').append('<tr><td>'+item.desc_item+'</td><td><span class="badge">'+item.numr_quantidade+'</span></td><td align="right"></td><td align="right"><button type="button" onclick="alteraAdicionais('+item.fd_itensadicional_id+',0,'+item.fd_itempedido_id+')"class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button><button onclick="alteraAdicionais('+item.fd_itensadicional_id+',1,'+item.fd_itempedido_id+')" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td></tr>');    

      };      

      if (data.length > 0){
        $('#mdIngredientes').modal('show')

      };
    }
  })  
}

function IngredAdiciona(tipo) {


  if (tipo == "ingredientes") {
    $("#divIngredientes").show();
    $("#h4Ingredientes").show();

    $("#divAdicionais").hide();
    $("#h4Adicionais").hide();
  } else {
    $("#divIngredientes").hide();
    $("#h4Ingredientes").hide();

    $("#divAdicionais").show();
    $("#h4Adicionais").show();
  };

}

function alteraingredientes(fd_itempedido_id,numr_acao,fd_items_id) {

  $.ajax({
    url: '<%= insere_ingredientealterado_path %>',
    data : 
    {
        fd_items_id : fd_items_id
        ,fd_itempedido_id : fd_itempedido_id
        ,numr_acao : numr_acao

    },
    success: function(data){
      buscaIngredientes(fd_itempedido_id);
    }
  })  
}


function buscaIngredientes(fd_itempedido_id) {

  $.ajax({
    url: '<%= busca_item_path %>',
    data : 
    {
        fd_itempedido_id : fd_itempedido_id

    },
    success: function(data){

      $("#bodyIngredientes").empty();

      for (var i in data) {
        var item = data[i];

          if(item.numr_qtd == null){
              item.numr_qtd = ""
          };

          $('#tlbIngredientes').append('<tr><td>'+item.desc_item+'</td><td><span class="badge">'+item.numr_qtd+'</span></td><td align="right"></td><td align="right"><button type="button" onclick="alteraingredientes('+item.fd_itempedido_id+',0,'+item.id+')"class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button><button onclick="alteraingredientes('+item.fd_itempedido_id+',1,'+item.id+')" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td></tr>');    

      };      

      if (data.length > 0){
        $('#mdIngredientes').modal('show')

      };
    }
  })  
}


function excluiItensPedidos(id) {

  $.ajax({
    url: '<%= exclui_itempedido_path %>',
    data : 
    {
        id : id
    },
    success: function(data){

      buscaItensPedidos($('#fd_pedido_id').val());
      alert_boot('Item excluído com sucesso.','warning','#alert_placeholder_periodo')

    }
  })  
}

function buscaDetalhesPedidosMistos(fd_itempedidos_id){

  var nomeMisto = "";

  $.ajax({
    url: '<%= busca_DetalhesMistos_path %>',
    data : 
    {
        fd_itempedidos_id : fd_itempedidos_id
    },
    success: function(data){


        for (var i in data) {
          var item = data[i];

          nomeMisto = nomeMisto + " / " + item.nome_produto;

        };

    },
    async:   false
  })  

        return nomeMisto;
}

function exibemodalTipoAtendimento (fd_itempedido_id){
  $('#fd_itempedido_id').val(fd_itempedido_id); 
  $('#mdTipoAtendimento').modal('show');
}

function buscaItensPedidos(fd_pedido_id) {
  $.ajax({
    url: '<%= busca_itempedido_path %>',
    data : 
    {
        fd_pedido_id : fd_pedido_id
    },
    success: function(data){

      var total_geral = 0
      var valr_item_total = 0

      $("#bodyTlbItensPedidos").empty();
      $("#bodyTlbComanda").empty();
      $("#total").val('');

      for (var i in data) {
        var item = data[i];
        var tipo_atendimento = ""; 

          total_geral = item.valr_item_total_geral;
          valr_item_total = item.valr_item_total

          $("#total").val(total_geral);

          if(item.tipo_atendimento == 'mesa'){

            tipo_atendimento = "glyphicon glyphicon-cutlery";

          } else if (item.tipo_atendimento == 'entrega') {

            tipo_atendimento = "glyphicon glyphicon-plane";

          } else {

            tipo_atendimento = "glyphicon glyphicon-road";

          } 

          if(item.fd_categoriaproduto_id == <%=$Combos%>){

            $('#tlbItensPedidos').append('<tr><td>'+item.desc_produto+'</td><td>'+item.desc_variacao+'</td><td align="right"><button onclick="buscaTrocas('+item.id+'); buscaIngredientes('+item.id+');" type="button" class="btn btn-default"><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span></button><button type="button" onclick="excluiItensPedidos('+item.id+')"class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button><button type="button" onclick="exibemodalTipoAtendimento('+item.id+');" class="btn btn-default"><span class="'+tipo_atendimento+'" aria-hidden="true"></span></button></td></tr>');

            //Dobrar pedido
            //<button onclick="dobraItemPedido('+item.id+');" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            
          } else if (item.fd_categoriaproduto_id != <%=$Servicos%>) {
            
            if (item.flag_pedidomisto == true){

              var nomeMisto = buscaDetalhesPedidosMistos(item.id);

              $('#tlbItensPedidos').append('<tr><td>'+item.desc_produto+" "+nomeMisto+'</td><td>'+item.desc_variacao+'</td><td align="right"></button><button onclick="" type="button" class="btn btn-default"><span class="glyphicon glyphicon-adjust" aria-hidden="true"></span></button><button type="button" onclick="excluiItensPedidos('+item.id+')"class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button><button type="button" onclick="exibemodalTipoAtendimento('+item.id+');" class="btn btn-default"><span class="'+tipo_atendimento+'" aria-hidden="true"></span></button></td></tr>');              

            } else {
              
              $('#tlbItensPedidos').append('<tr><td>'+item.desc_produto+'</td><td>'+item.desc_variacao+'</td><td align="right"></button><button onclick="buscaAdicionais('+item.id+','+item.fd_categoriaproduto_id+'); buscaIngredientes('+item.id+');" type="button" class="btn btn-default"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span></button><button type="button" onclick="excluiItensPedidos('+item.id+')"class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button><button type="button" onclick="exibemodalTipoAtendimento('+item.id+');" class="btn btn-default"><span class="'+tipo_atendimento+'" aria-hidden="true"></span></button></td></tr>');

            //Dobrar pedido
            //<button onclick="dobraItemPedido('+item.id+');" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            }

          };


          //if(item.fd_categoriaproduto_id != <%=$Servicos%>){

          if (item.flag_pedidomisto == true){

            $('#tlbItensComanda').append('<tr class="dotted"><td>'+item.desc_produto+' '+nomeMisto+' '+item.desc_variacao+'</td><td align="right">'+item.valr_item+'</td></tr>');                         
          } else {

            $('#tlbItensComanda').append('<tr class="dotted"><td>'+item.desc_produto+' '+item.desc_variacao+'</td><td align="right">'+item.valr_item+'</td></tr>');                         

          }
          //}

      };
            $('#tlbItensComanda').append('<tr style="height:20px;"><td></td><td align="right"></td></tr>');                         
            $('#tlbItensComanda').append('<tr class="dotted"><td>Total</td><td align="right">'+valr_item_total+'</td></tr>');                         
            $('#tlbItensComanda').append('<tr class="dotted"><td>Total + taxas %</td><td align="right">'+total_geral+'</td></tr>');                         

    }
  })  
}


function alterapedido(fd_itempedido_id) {

  $.ajax({
    url: '<%= dobra_itempedido_path %>',
    data : 
    {
        fd_itempedido_id : fd_itempedido_id

    },
    success: function(data){

      $('#mdVariacoes').modal('hide')
      buscaItensPedidos($('#fd_pedido_id').val());
    }
  })  
}


function dobraItemPedido(fd_itempedido_id) {

  $.ajax({
    url: '<%= dobra_itempedido_path %>',
    data : 
    {
        fd_itempedido_id : fd_itempedido_id

    },
    success: function(data){

      $('#mdVariacoes').modal('hide')
      buscaItensPedidos($('#fd_pedido_id').val());
    }
  })  
}

function incluiItemPedido(fd_variacaoproduto_id,valr_produto) {


  $.ajax({
    url: '<%= insere_itempedido_path %>',
    data : 
    {
        desc_observacao : "desc_observacao"
        ,valr_item : valr_produto
        ,tipo_atendimento : 'tipo_atendimento'
        ,fd_variacaoproduto_id : fd_variacaoproduto_id
        ,fd_pedido_id : $('#fd_pedido_id').val()
        ,fd_situacao_id : 3 //Pendente
        ,fd_funcionario_id : 1
    },
    success: function(data){

      $('#mdVariacoes').modal('hide')
      buscaItensPedidos($('#fd_pedido_id').val());
    }
  })  
}


function incluiItem(fd_produto_id) {

  $.ajax({
    url: '<%= busca_variacaoprodutos_path %>',
    data : 
    {
        fd_produto_id : fd_produto_id
    },
    success: function(data){

          $('#mdVariacoes').modal('show');

          $("div.divVariacoes").html("");
          $("div.divVariacoes").append('<a href="#" class="list-group-item disabled"><strong>Variações</strong></a>');

      for (var i in data) {
        var item = data[i];

          $("div.divVariacoes").append('<a href="#" class="list-group-item">' + item.desc_variacao + '<span class="badge">+</span></a>');

      };

    }
  })  
}


function buscaVariacoes(fd_produto_id,flag_misto) {
  $.ajax({
    url: '<%= busca_variacaoprodutos_path %>',
    data : 
    {
        fd_produto_id : fd_produto_id
    },
    success: function(data){          

          $("div.divVariacoes").html("");
          $("div.divVariacoes").append('<a href="#" class="list-group-item disabled"><strong>Variações</strong></a>');

      for (var i in data) {
        var item = data[i];

        if (flag_misto == false){
          if (data.length == 1){
              incluiItemPedido(item.id,item.valr_produto);
              buscaservicos(<%=$Servicos%>);
          } else {

            $("div.divVariacoes").append('<a href="javascript:incluiItemPedido('+item.id+','+item.valr_produto+')" class="list-group-item">' + item.desc_variacao + '<span class="badge">+</span></a>');

          };
        } else {

          if (data.length == 1){
              createJSON(item.id,item.nome_produto,item.desc_variacao)
          } else {

            $("div.divVariacoes").append('<a href="javascript:createJSON('+item.id+',\''+item.nome_produto+'\',\''+item.desc_variacao+'\')" class="list-group-item">' + item.desc_variacao + '<span class="badge">+</span></a>');

          };


        }

      };

      if (data.length != 1){

        $('#mdVariacoes').modal('show');

      }

      

    }
  })  
}


function buscaCategorias(father_id,desc_cat) {

  $('#lblAssetName').text(desc_cat);

  $.ajax({
    url: '<%= buscaCategoriaProdutos_path %>',
    data : 
    {
        father_id : father_id
    },
    success: function(data){

    buscaprodutos(father_id);

    $("div.divCategorias").html("");
    $("div.divCategorias").append("<button type='button' onclick='buscaCategorias();' class='btn btn-primary btn-lg'>Geral</button>");
      for (var i in data) {
        var item = data[i];

        $("div.divCategorias").append("<button type='button' onclick='buscaCategorias("+ item.id + ",\""+ item.desc_categoria  +"\");' class='btn btn-default btn-lg'>" + item.desc_categoria + "</button>");

      };

    }
  })  
}

function createJSON(id,nome_produto,desc_variacao) {

  var valida_variacao = false;

  for (var i in jsonObj) {
    var item = jsonObj[i];

    if(item.desc_variacao != desc_variacao){
      valida_variacao = true;
      alert_boot('A variação do produdo deve ser igual ao primeiro: '+ item.desc_variacao+'.','warning','#alert_placeholder_periodo')
      $('#mdVariacoes').modal('hide');
    }

  };

  if (valida_variacao == false){

    item = {};
    item ["id"] = id;
    item ["nome_produto"] = nome_produto;
    item ["desc_variacao"] = desc_variacao;

    jsonObj.push(item);
    $('#mdVariacoes').modal('hide');

  }

  constroiPedidoMisto();

}


function buscaprodutos(fd_categoriaproduto_id) {

  $.ajax({
    url: '<%= busca_produtos_path %>',
    data : 
    {
        fd_categoriaproduto_id : fd_categoriaproduto_id
    },
    success: function(data){

          $("#bodyTlbProdutos").empty();

      for (var i in data) {
        var item = data[i];
          //Caso seja um combo
          if(fd_categoriaproduto_id == <%=$Combos%>){

            $('#tlbProdutos').append('<tr><td>'+item.nome_produto+'</td><td>R$</td><td align="right"><button type="button" onclick="buscaVariacoes('+item.id+',false)" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td></tr>');
            append = "";

          }else {


            if (item.flag_produtomisto == true){

              $('#tlbProdutos').append('<tr><td>'+item.nome_produto+'</td><td>R$</td><td align="right"><button type="button" onclick="buscaVariacoes('+item.id+',true)" class="btn btn-warning"><span class="glyphicon glyphicon-adjust" aria-hidden="true"></span></button><button type="button" onclick="buscaVariacoes('+item.id+',false)" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td></tr>'); 

            } else {

              $('#tlbProdutos').append('<tr><td>'+item.nome_produto+'</td><td>R$</td><td align="right"><button type="button" onclick="buscaVariacoes('+item.id+',false)" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td></tr>');  

            };
          }


      };

    }
  })  
}

function excluiItensPedidosServicos(fd_variacaoproduto_id) {

  $.ajax({
    url: '<%= exclui_servicopedido_path %>',
    data : 
    {
        fd_pedido_id : $('#fd_pedido_id').val()
        ,fd_variacaoproduto_id : fd_variacaoproduto_id
    },
    success: function(data){

      buscaservicos(<%=$Servicos%>);
      buscaItensPedidos($('#fd_pedido_id').val());

    }
  })  
}

function buscaservicos() {

  $.ajax({
    url: '<%= busca_Servicos_path %>',
    data : 
    {
        fd_pedido_id : $('#fd_pedido_id').val()
    },
    success: function(data){

          $("#bodyTlbServicos").empty();

      for (var i in data) {
        var item = data[i];

        $('#tlbServicos').append('<tr><td>'+item.nome_produto+'</td><td>'+item.valr_produto+'</td><td>'+item.numr_porcentagem+'%</td><td><span class="badge">'+item.qtd+'</span></td><td align="right"><button type="button" onclick="excluiItensPedidosServicos('+item.fd_variacaoproduto_id+')" class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button><button type="button" onclick="buscaVariacoes('+item.fd_produto_id+',false)" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td></tr>');

      };

    }
  })  
}

function alert_boot(message,color,place) {

  $(place).html('<div class="alert alert-'+ color +'" role="alert">'+message+'<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> </div>')

  $(place).fadeTo(2000, 500).slideUp(500, function(){
  
  }); 
}

$("#divMistos").hide();
buscaservicos(<%=$Servicos%>);
buscaCategorias();
buscaItensPedidos($('#fd_pedido_id').val());
atualizaCliente($('#fd_cliente_id').val());


jQuery(function($){

$("#total").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
$("#txtTelefoneCliente").mask("(99)9999-9999")


});
 

</script>

