<%= form_for(@fd_usuario) do |f| %>
  <% if @fd_usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fd_usuario.errors.count, "error") %> prohibited this fd_usuario from being saved:</h2>

      <ul>
      <% @fd_usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row mar-bot40">
  <div class="col-lg-3" >
    <%= f.label :Nome_Completo %><br>
    <%= f.text_field :desc_nome, :class => 'form-control' %>
  </div>
</div>
<br/>
<div class="row mar-bot40">
  <div class="col-lg-3" >
    <%= f.label :Login %><br>
    <%= f.text_field :desc_login, :class => 'form-control'  %>
  </div>
</div>
<br/>
<div class="row mar-bot40">
  <div class="col-lg-3" >
    <%= f.label :desc_senha %><br>
    <%= f.password_field :desc_senha, :class => 'form-control'  %>
  </div>
</div>
<hr/>

<div class="btn-group" role="group" aria-label="...">
  <button type="submit" class="btn btn-primary btn">
    </span> Salvar
  </button>  

<% end %>
