<%= form_for(@fd_usuario) do |f| %>
  <% if @fd_usuario.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  
  <% if @fd_usuario.errors.any? %>
  
    <% @fd_usuario.errors.full_messages.each do |msg| %>
        <%= msg %></br>
      <% end %>
     <% end %>
    </div>
  <% end %>   

<div class="row mar-bot40">

  <div class="col-lg-3" >
    <%= f.label :Nome_Completo %><br>
    <%= f.text_field :desc_nome, :class => 'form-control' %>
  </div>
</div>
<br/>
<div class="row mar-bot40">
  <div class="col-lg-3" >
    <%= f.label :Usuario %><br>
    <%= f.text_field :desc_login, :class => 'form-control'  %>
  </div>
</div>
<br/>
<div class="row mar-bot40">
  <div class="col-lg-3" >
    <%= f.label :Confirmação_Usuario %><br>
    <%= f.text_field :desc_confirmalogin, :class => 'form-control'  %>
  </div>
</div>
<br/>
<div class="row mar-bot40">
  <div class="col-lg-3" >
    <%= f.label :Senha %><br>
    <%= f.password_field :desc_senha, :class => 'form-control'  %>
  </div>
</div>
<br/>
<div class="row mar-bot40">
  <div class="col-lg-3" >
    <%= f.label :Confirmação_Senha %><br>
    <%= f.password_field :desc_confirmasenha, :class => 'form-control'  %>
  </div>
</div>

  </div>
</div>

  <!--Capturando usuario logado-->
  <%=f.hidden_field :fd_empresa_id, :value => 2%> 

<hr/>

<div class="btn-group" role="group" aria-label="...">
  <button type="submit" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
  </button>  

<% end %>