<h1>Listing fd_usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Desc nome</th>
      <th>Desc login</th>
      <th>Desc senha</th>
      <th>Data inclusao</th>
      <th>Desc perfil</th>
      <th>Fd empresas</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fd_usuarios.each do |fd_usuario| %>
      <tr>
        <td><%= fd_usuario.desc_nome %></td>
        <td><%= fd_usuario.desc_login %></td>
        <td><%= fd_usuario.desc_senha %></td>
        <td><%= fd_usuario.data_inclusao %></td>
        <td><%= fd_usuario.desc_perfil %></td>
        <td><%= fd_usuario.fd_empresas %></td>
        <td><%= link_to 'Show', fd_usuario %></td>
        <td><%= link_to 'Edit', edit_fd_usuario_path(fd_usuario) %></td>
        <td><%= link_to 'Destroy', fd_usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fd usuario', new_fd_usuario_path %>
