<h1>Listar Usuários</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Login</th>
      <th>Data Inclusao</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fd_usuarios.each do |fd_usuario| %>
      <tr>
        <td><%= fd_usuario.desc_nome %></td>
        <td><%= fd_usuario.desc_login %></td>
        <td><%= fd_usuario.desc_senha %></td>
        <td><%= fd_usuario.data_inclusao %></td>
        <td><%= fd_usuario.desc_perfil %></td>
        <td><%= link_to 'Show', fd_usuario %></td>
        <td><%= link_to 'Edit', edit_fd_usuario_path(fd_usuario) %></td>
        <td><%= link_to 'Destroy', fd_usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Novo Usuário', new_fd_usuario_path %>