<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Exibir Usuários</h1>
</div>


<p>
  <strong>Desc nome:</strong>
  <%= @fd_usuario.desc_nome %>
</p>

<p>
  <strong>Desc login:</strong>
  <%= @fd_usuario.desc_login %>
</p>

<p>
  <strong>Desc senha:</strong>
  <%= @fd_usuario.desc_senha %>
</p>

<p>
  <strong>Data inclusao:</strong>
  <%= @fd_usuario.data_inclusao %>
</p>

<p>
  <strong>Desc perfil:</strong>
  <%= @fd_usuario.desc_perfil %>
</p>

<p>
  <strong>Fd empresas:</strong>
  <%#= @fd_usuario.fd_empresas %>
</p>


<hr/>

<div class="btn-group" role="group" aria-label="...">
  <button type="submit" class="btn btn-primary btn">
    </span> Salvar
  </button>  

  <%= link_to  edit_fd_usuario_path(@fd_usuario), :class => "btn btn-default" do %>
    Editar
  <% end %>

  <%= link_to  fd_usuarios_path, :class => "btn btn-default" do %>
    Voltar
  <% end %>  

</div>
