<%if notice %>
  <div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
     <%= notice %>
</div>
<%end%>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Exibir Usuário</h3>
  </div>
  <div class="panel-footer" style="background-color:white;">

<p>
  <strong>Desc nome:</strong>
  <%= @fd_usuario.desc_nome %>
</p>

<p>
  <strong>Desc login:</strong>
  <%= @fd_usuario.desc_login %>
</p>

<p>
  <strong>Desc senha:</strong>
  <%= @fd_usuario.desc_senha %>
</p>

<p>
  <strong>Data inclusao:</strong>
  <%= @fd_usuario.data_inclusao %>
</p>

<p>
  <strong>Desc perfil:</strong>
  <%= @fd_usuario.desc_perfil %>
</p>

<p>
  <strong>Fd empresas:</strong>
  <%#= @fd_usuario.fd_empresas %>
</p>


  </div>
</div>

<hr/>

<div class="btn-group">          
  <%= link_to edit_fd_usuario_path(@fd_usuario), :class => "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-pencil"></span> Editar
  <% end %>
  <%= link_to fd_empresas_path, :class => "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>       
</div>