<%= form_for(@fd_empresa) do |f| %>
  <% if @fd_empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fd_empresa.errors.count, "error") %> prohibited this fd_empresa from being saved:</h2>

      <ul>
      <% @fd_empresa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Categoria %><br>
    <%= f.select :fd_categoriaempresa_id, options_from_collection_for_select(FdCategoriaempresa.all, 'id','nome_categoria',@fd_empresa.fd_categoriaempresa_id)%>
  </div>

  <div class="field">
    <%= f.label :Razao_Social %><br>
    <%= f.text_field :desc_razaosocial %>
  </div>
  <div class="field">
    <%= f.label :Nome_Fantasia %><br>
    <%= f.text_field :desc_nomefantasia %>
  </div>
  <div class="field">
    <%= f.label :nome_responsavel %><br>
    <%= f.text_field :nome_responsavel %>
  </div>
  <div class="field">
    <%= f.label :CNPJ %><br>
    <%= f.text_field :desc_cnpj %>
  </div>
  <div class="field">
    <%= f.label :Telefone_Fixo %><br>
    <%= f.text_field :desc_telefone %>
  </div>
  <div class="field">
    <%= f.label :Telefone_Celular %><br>
    <%= f.text_field :desc_celular %>
  </div>

 <h>Endereço</h>


  <%=  f.fields_for :fd_endereco do |endereco| %>
  
   <div class="field">
    <%= endereco.label :fd_cidade_id %><br>
    <%= endereco.text_field :fd_cidade_id %>
  </div>

  <div class="field">
    <%= endereco.label :nome_bairro %><br>
    <%= endereco.text_field :nome_bairro %>
  </div>
  <div class="field">
    <%= endereco.label :nome_rua %><br>
    <%= endereco.text_field :nome_rua %>
  </div>
  <div class="field">
    <%= endereco.label :Quadra %><br>
    <%= endereco.text_field :numr_quadra %>
  </div>
  <div class="field">
    <%= endereco.label :Complemento %><br>
    <%= endereco.text_field :desc_complemento %>
  </div>
  <div class="field">
    <%= endereco.label :Ponto_referencia %><br>
    <%= endereco.text_field :desc_pontoreferencia %>
  </div>
  <div class="field">
    <%= endereco.label :CEP %><br>
    <%= endereco.text_field :numr_cep %>
  </div>

  <%end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
