<%= form_for(@fd_empresa) do |f| %>
  <% if @fd_empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fd_empresa.errors.count, "error") %> prohibited this fd_empresa from being saved:</h2>

      <ul>
      <% @fd_empresa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row mar-bot40">
 <div class="col-lg-1">
 </div>
  <div class="col-lg-4">
    <%= f.label :Categoria %><br>
    <%= f.select :fd_categoriaempresa_id, options_from_collection_for_select(FdCategoriaempresa.all, 'id','nome_categoria',@fd_empresa.fd_categoriaempresa_id), {}, {:class => 'form-control'}%>
  </div>
  <div class="col-lg-6">
    <%= f.label :Razao_Social %><br>
    <%= f.text_field :desc_razaosocial, :class => 'form-control' %>
  </div>
</div>
</br>
<div class="row mar-bot40">
  <div class="col-lg-1">
 </div>
  <div class="col-lg-5">
    <%= f.label :Nome_Fantasia %><br>
    <%= f.text_field :desc_nomefantasia, :class => 'form-control' %>
  </div>
  <div class="col-lg-5">
    <%= f.label :nome_responsavel %><br>
    <%= f.text_field :nome_responsavel, :class => 'form-control' %>
  </div>
</div>
<br>
<div class="row mar-bot40">
 <div class="col-lg-1">
 </div> 
  <div class="col-lg-3">
    <%= f.label :CNPJ %><br>
    <%= f.text_field :desc_cnpj, :class => 'form-control' %>
  </div>
  <div class="col-lg-3">
    <%= f.label :Telefone_Fixo %><br>
    <%= f.text_field :desc_telefone, :class => 'form-control' %>
  </div>
  <div class="col-lg-3">
    <%= f.label :Telefone_Celular %><br>
    <%= f.text_field :desc_celular, :class => 'form-control' %>
  </div>
</div>

 <div class="row mar-bot40">
  <div class="col-lg-1">
  </div>
<div class="col-lg-2">
  <h4>Endereço</h4>
 </div>
 </div>
 <br>

<%=  f.fields_for :fd_endereco do |endereco| %>
 <div class="row mar-bot40">  
    <div class="col-lg-1">
    </div>
    <div class="col-lg-4">
      <%= endereco.label :nome_bairro %><br>
      <%= endereco.text_field :nome_bairro, :class => 'form-control' %>
    </div>
    <div class="col-lg-4">
      <%= endereco.label :nome_rua %><br>
      <%= endereco.text_field :nome_rua, :class => 'form-control' %>
    </div>
    <div class="col-lg-2">
      <%= endereco.label :Quadra %><br>
      <%= endereco.text_field :numr_quadra, :class => 'form-control' %>
    </div>
</div>
<br>
 <div class="row mar-bot40">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-5">
    <%= endereco.label :Complemento %><br>
    <%= endereco.text_field :desc_complemento, :class => 'form-control' %>
  </div>
  <div class="col-lg-3">
    <%= endereco.label :Ponto_referencia %><br>
    <%= endereco.text_field :desc_pontoreferencia, :class => 'form-control' %>
  </div>
  <div class="col-lg-2">
    <%= endereco.label :CEP %><br>
    <%= endereco.text_field :numr_cep, :class => 'form-control' %>
  </div>
</div>
<br>
<div class="row mar-bot40">
  <div class="col-lg-1">
  </div>
  <%=  f.fields_for :fd_estado do |estado| %>
      <div class="col-lg-4">
        <%= estado.label :Estado %><br>
        <%= estado.select :fd_estado_id, options_from_collection_for_select(FdEstado.all, 'id', 'nome_estado',@fd_estado), {:include_blank => true}, {:onchange => 'changeState(this)', :class => 'form-control' }%>
      </div>
  <%end%>
  <%if @fd_cidade %>
        <div class="col-lg-4">
          <%= endereco.label :Cidade %>
          <%= endereco.select :fd_cidade_id, options_from_collection_for_select(@fd_cidade, 'id', 'nome_cidade',@fd_cidade_setada),{}, :class => 'form-control'%>
        </div>
  <%else%>

  <div class="col-lg-4">
          <%= endereco.label :Cidade %><br>
          <%= endereco.select :fd_cidade_id, [], {}, :class => 'form-control'%>
  </div>

 <%end%>
</div>

  <!--Capturando usuario logado-->
  <%=f.hidden_field :fd_empresa_id, :value => user.fd_empresa_id%> 

<%end%>

<hr/>

<div class="btn-group" role="group" aria-label="...">
  <button type="submit" class="btn btn-primary btn">
    </span> Salvar
</button>  

<% end %>


<script>
 
    function changeState(state){
        $.ajax({
          url: '<%= listarCidade_path %>',
          data : {id : state.value},
          success: function(data){
            $('#fd_empresa_fd_endereco_attributes_fd_cidade_id').empty();
            $('#fd_empresa_fd_endereco_attributes_fd_cidade_id').html('<option>Carregando...</option>');
            $('#fd_empresa_fd_endereco_attributes_fd_cidade_id').attr('disabled', 'disabled');
            var options = "";
            for (var i in data) {
              var item = data[i];
              options += "<option value='"+item.id+"'>"+item.name+"</option>"
            };
   
            $('#fd_empresa_fd_endereco_attributes_fd_cidade_id').html(options);
            $('#fd_empresa_fd_endereco_attributes_fd_cidade_id').removeAttr('disabled');          
          }
        })
      }
  </script>