<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3 class="panel-title">Listar Empresa</h3></div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Categoria</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fd_empresas.each do |fd_empresa| %>
      <tr>
        <td><%= fd_empresa.desc_nomefantasia %></td>
        <td><%= fd_empresa.fd_categoriaempresa.nome_categoria %></td>
          <td align='right'>
            <div class="btn-group">
              <%= link_to fd_empresa, :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-list-alt"></span> Exibir
              <% end %>             
              <%= link_to edit_fd_empresa_path(fd_empresa), :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-pencil"></span> Editar
              <% end %>             
              <%= link_to fd_empresa , :method => :delete,  :confirm => 'Deseja excluir o registro?', :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-trash"></span> Excluir
              <% end %>            
            </div>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<%= link_to new_fd_empresa_path, :class => "btn btn-default btn-sm" do %>
   <span class="glyphicon glyphicon-file"></span>Novo
<% end %>
