<h1>Lista de Empresas</h1>

<table>
  <thead>
    <tr>
      <th>Razão Social</th>
      <th>Nome Fantasia</th>
      <th>Nome responsavel</th>
      <th>CNPJ</th>
      <th>Categoria Empresa</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fd_empresas.each do |fd_empresa| %>
      <tr>
        <td><%= fd_empresa.desc_razaosocial %></td>
        <td><%= fd_empresa.desc_nomefantasia %></td>
        <td><%= fd_empresa.nome_responsavel %></td>
        <td><%= fd_empresa.desc_cnpj %></td>
        <td><%= fd_empresa.fd_categoriaempresa %></td>
        <td><%= link_to 'Exibir', fd_empresa %></td>
        <td><%= link_to 'Editar', edit_fd_empresa_path(fd_empresa) %></td>
        <td><%= link_to 'Deletar', fd_empresa, method: :delete, data: { confirm: 'Deseja Excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Empresa', new_fd_empresa_path %>
