<%if notice %>
  <div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
     <%= notice %>
</div>
<%end%>

<p>
  <strong>Categoria Empresa:</strong>
  <%= @fd_empresa.fd_categoriaempresa.nome_categoria %>
</p>

<p>
  <strong>Razão Social:</strong>
  <%= @fd_empresa.desc_razaosocial %>
</p>

<p>
  <strong>Nome Fantasia:</strong>
  <%= @fd_empresa.desc_nomefantasia %>
</p>

<p>
  <strong>Nome Responsavel:</strong>
  <%= @fd_empresa.nome_responsavel %>
</p>

<p>
  <strong>CNPJ:</strong>
  <%= @fd_empresa.desc_cnpj %>
</p>

<p>
  <strong>Telefône Fixo:</strong>
  <%= @fd_empresa.desc_telefone %>
</p>

<p>
  <strong>Telefône Célular:</strong>
  <%= @fd_empresa.desc_celular %>
</p>

<h>Endereço</h>


<p>
  <strong>Bairro:</strong>
  <%= @fd_empresa.fd_endereco.nome_bairro %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @fd_empresa.fd_endereco.nome_rua %>
</p>

<p>
  <strong>Quadra:</strong>
  <%= @fd_empresa.fd_endereco.numr_quadra %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @fd_empresa.fd_endereco.desc_complemento %>
</p>

<p>
  <strong>Ponto Referencia:</strong>
  <%= @fd_empresa.fd_endereco.desc_pontoreferencia %>
</p>


<p>
  <strong>CEP:</strong>
  <%= @fd_empresa.fd_endereco.numr_cep %>
</p>


<p>
  <strong>Estado:</strong>
  <%= @fd_empresa.fd_endereco.fd_cidade.fd_estado.nome_estado %>
</p>


<p>
  <strong>Cidade:</strong>
  <%= @fd_empresa.fd_endereco.fd_cidade.nome_cidade %>
</p>



<hr/>

<div class="btn-group" role="group" aria-label="...">
  <button type="submit" class="btn btn-primary btn">
    </span> Salvar
  </button>  

  <%= link_to edit_fd_empresa_path(@fd_empresa), :class => "btn btn-default" do %>
    Editar
  <% end %>

  <%= link_to  fd_empresas_path, :class => "btn btn-default" do %>
    Voltar
  <% end %>  

</div>
