<p id="notice"><%= notice %></p>

<p>
  <strong>Desc razaosocial:</strong>
  <%= @fd_empresa.desc_razaosocial %>
</p>

<p>
  <strong>Desc nomefantasia:</strong>
  <%= @fd_empresa.desc_nomefantasia %>
</p>

<p>
  <strong>Nome responsavel:</strong>
  <%= @fd_empresa.nome_responsavel %>
</p>

<p>
  <strong>Desc cnpj:</strong>
  <%= @fd_empresa.desc_cnpj %>
</p>

<p>
  <strong>Desc telefone:</strong>
  <%= @fd_empresa.desc_telefone %>
</p>

<p>
  <strong>Desc celular:</strong>
  <%= @fd_empresa.desc_celular %>
</p>

<p>
  <strong>Data inclusao:</strong>
  <%= @fd_empresa.data_inclusao %>
</p>

<p>
  <strong>Fd endereco:</strong>
  <%= @fd_empresa.fd_endereco %>
</p>

<p>
  <strong>Fd categoriaempresa:</strong>
  <%= @fd_empresa.fd_categoriaempresa %>
</p>

<%= link_to 'Edit', edit_fd_empresa_path(@fd_empresa) %> |
<%= link_to 'Back', fd_empresas_path %>
