<p id="notice"><%= notice %></p>

<p>
  <strong>Desc observacao:</strong>
  <%= @fd_itempedido.desc_observacao %>
</p>

<p>
  <strong>Valr item:</strong>
  <%= @fd_itempedido.valr_item %>
</p>

<p>
  <strong>Tipo atendimento:</strong>
  <%= @fd_itempedido.tipo_atendimento %>
</p>

<p>
  <strong>Fd empresa:</strong>
  <%= @fd_itempedido.fd_empresa %>
</p>

<p>
  <strong>Fd variacaoproduto:</strong>
  <%= @fd_itempedido.fd_variacaoproduto %>
</p>

<p>
  <strong>Fd pedido:</strong>
  <%= @fd_itempedido.fd_pedido %>
</p>

<p>
  <strong>Fd status:</strong>
  <%= @fd_itempedido.fd_status %>
</p>

<p>
  <strong>Fd funcionario:</strong>
  <%= @fd_itempedido.fd_funcionario %>
</p>

<%= link_to 'Edit', edit_fd_itempedido_path(@fd_itempedido) %> |
<%= link_to 'Back', fd_itempedidos_path %>
