<h1>Listing fd_situacoes</h1>

<table>
  <thead>
    <tr>
      <th>Nome situacao</th>
      <th>Desc situacao</th>
      <th>Data bloqueio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fd_situacoes.each do |fd_situacao| %>
      <tr>
        <td><%= fd_situacao.nome_situacao %></td>
        <td><%= fd_situacao.desc_situacao %></td>
        <td><%= fd_situacao.data_bloqueio %></td>
        <td><%= link_to 'Show', fd_situacao %></td>
        <td><%= link_to 'Edit', edit_fd_situacao_path(fd_situacao) %></td>
        <td><%= link_to 'Destroy', fd_situacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fd situacao', new_fd_situacao_path %>
