<h1>Lista de Categoria Empresa</h1>

<table>
  <thead>
    <tr>
      <th>Nome categoria</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fd_categoriaempresas.each do |fd_categoriaempresa| %>
      <tr>
        <td><%= fd_categoriaempresa.nome_categoria %></td>
        <td><%= link_to 'Exibir', fd_categoriaempresa %></td>
        <td><%= link_to 'Editar', edit_fd_categoriaempresa_path(fd_categoriaempresa) %></td>
        <td><%= link_to 'Deletar', fd_categoriaempresa, method: :delete, data: { confirm: 'Deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Categoria', new_fd_categoriaempresa_path %>
