<h1>Listing fd_categoriaempresas</h1>

<table>
  <thead>
    <tr>
      <th>Nome categoria</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fd_categoriaempresas.each do |fd_categoriaempresa| %>
      <tr>
        <td><%= fd_categoriaempresa.nome_categoria %></td>
        <td><%= link_to 'Show', fd_categoriaempresa %></td>
        <td><%= link_to 'Edit', edit_fd_categoriaempresa_path(fd_categoriaempresa) %></td>
        <td><%= link_to 'Destroy', fd_categoriaempresa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fd categoriaempresa', new_fd_categoriaempresa_path %>
